<button type="button"
[style.opacity]="disabled ? 0.5 : 1"
[style.background]="fieldButton === 'field' ? colors[color] : hover ? '#FFFAE5' : 'white'"
[style.width]="'100%'"
[style.padding]=" size == 'middle' ? '1rem' : '.5rem'"
[style.border]="(fieldButton == 'outline' && border) ? 'solid 1px black' : 'none'"
[style.color]="((color == 'primary'  || color == 'error') && fieldButton != 'outline') ? hover ? '#FFD200' : '#fff' : '#000'"
[style.border-radius]="'50px'"
[style.font-weight]="'bold'"
[style.display]="'flex'"
[style.justify-content]="'center'"
[style.align-items]="'center'"
[style.gap]="'8px'"
[style.cursor]="'pointer'"
>
    @if(icon && iconPosition == 'left') {
        <span class="material-symbols-outlined">
            {{icon}}
        </span>
    }
    <ng-content></ng-content>
    @if(icon && iconPosition == 'right') {
        <span class="material-symbols-outlined">
            {{icon}}
        </span>
    }
</button>
