main {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin: 0 auto;

  tgt-input-view {
    width: 100%;
  }

  .actions {
    height: auto;
    width: 80%;
  }

  .edit {
    display: flex;
    flex-direction: row;
    justify-content: end;

    tgt-button:first-child {
      margin-right: 24px;
    }
  }

  .form {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    .first-colum {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
    }

    .first-colum-edit {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      tgt-input {
        flex: 1;
        margin-right: 10px;
      }
    }
  }
}
