<main>
  <div class="actions">
    <div class="edit">
      <tgt-button [icon]="'vpn_key'" [color]="'primary'" [size]="'small'" [iconPosition]="'left'"
        [fieldButton]="'outline'" [disabled]="false" [border]="true" [type]="'button'">
        Alterar Senha
      </tgt-button>
      <tgt-button [icon]="'edit'" [color]="'secundary'" [size]="'small'" [iconPosition]="'left'" [fieldButton]="'field'"
        [disabled]="false" [border]="true" [type]="'button'">
        Editar
      </tgt-button>
    </div>
    <div class="form">
      <tgt-input-view [label]="'Nome Completo'" [value]="'john@gmail.com'" [mask]="''"></tgt-input-view>
      <tgt-input-view [label]="'CPF'" [value]="'john@gmail.com'" [mask]="''"></tgt-input-view>
      <tgt-input-view [label]="'E-mail Corporativo'" [value]="'john@gmail.com'" [mask]="''"></tgt-input-view>
      <div class="first-colum">
        <tgt-input-view [label]="'Nome Completo'" [value]="'john@gmail.com'" [mask]="''"></tgt-input-view>
        &nbsp;
        &nbsp;
        <tgt-input-view [label]="'Nome Completo'" [value]="'john@gmail.com'" [mask]="''"></tgt-input-view>
      </div>
      <div class="second-column">
        <tgt-input-view [label]="'Nome Completo'" [value]="'john@gmail.com'" [mask]="''"></tgt-input-view>
        &nbsp;
        &nbsp;
        <tgt-input-view [label]="'Nome Completo'" [value]="'john@gmail.com'" [mask]="''"></tgt-input-view>
      </div>

    </div>
  </div>
</main>
