<main>
  <div class="actions">
    @if(vizualizarInformacoesUsuario) {
    <div class="edit">
      <tgt-button [icon]="'vpn_key'" [color]="'primary'" [size]="'small'" [iconPosition]="'left'"
        (click)="abrirFormPassword()" [fieldButton]="'outline'" [disabled]="false" [border]="false" [type]="'button'">
        Alterar Senha
      </tgt-button>
      <tgt-button [icon]="'edit'" [color]="'secundary'" [size]="'small'" [iconPosition]="'left'" [fieldButton]="'field'"
        (click)="abrirFormEditar()" [disabled]="false" [border]="true" [type]="'button'">
        Editar
      </tgt-button>
    </div>
    }
    @if(vizualizarInformacoesUsuario) {
    <div class="form">
      <tgt-input-view [label]="'Nome Completo'" [value]="usuario.nome"></tgt-input-view>
      <tgt-input-view [label]="'CPF'" [value]="usuario.cpf" [mask]="''"></tgt-input-view>
      <tgt-input-view [label]="'E-mail Corporativo'" [value]="usuario.username" [mask]="''"></tgt-input-view>
      <div class="first-colum">
        <tgt-input-view [label]="'Data Nascimento'" [value]="usuario.dataNascimento | date: 'dd/MM/yyyy'"
          [mask]="''"></tgt-input-view>
        &nbsp;
        &nbsp;
        <tgt-input-view [label]="'Gênero'" [value]="usuario.sexo" [mask]="''"></tgt-input-view>
      </div>
      <div class="first-colum">
        <tgt-input-view [label]="'Central de Custo'" [value]="'Retornar o nome da central de custo'"
          [mask]="''"></tgt-input-view>
        &nbsp;
        &nbsp;
        <tgt-input-view [label]="'Perfil de Acesso'" [value]="usuario.role" [mask]="''"></tgt-input-view>
      </div>
    </div>
    }

    @if(mostrarFormEdit) {
    <div class="form">
      <tgt-input [label]="'Nome Completo'" [control]="formEditarUsuario.controls.nome"></tgt-input>
      <tgt-input [label]="'CPF'" [control]="formEditarUsuario.controls.cpf" [mask]="'000.000.000-00'"></tgt-input>
      <tgt-input [label]="'E-mail Corporativo'" [label]="'E-mail Corporativo'"
        [control]="formEditarUsuario.controls.email"></tgt-input>

      <div class="first-colum-edit">
        <tgt-input [label]="'Data Nascimento'" [control]="formEditarUsuario.controls.dataNascimento"
          [type]="'date'"></tgt-input>
          <tgt-select [label]="'Gênero*'" [options]="optionsSexo" [control]="formEditarUsuario.controls.sexo" class="col-6"></tgt-select>
      </div>
      <div class="first-colum-edit">
        <tgt-input [label]="'Central de Custo'" [control]="formEditarUsuario.controls.email" [mask]="''"></tgt-input>
        <tgt-select [label]="'Perfil*'" [options]="optionsPerfil" [control]="formEditarUsuario.controls.role" class="col-6"></tgt-select>
      </div>
    </div>
    }

    @if(mostrarFormPassword) {
    <div class="form">
      <tgt-input [label]="'Senha Atual'" [type]="'password'" [control]="formEditarSenha.controls.senhaAntiga"></tgt-input>
      <tgt-input [label]="'Nova Senha '" [type]="'password'" [control]="formEditarSenha.controls.senhaNova"></tgt-input>
      <tgt-input [label]="'Conforme Nova Senha'" [type]="'password'" [control]="formEditarSenha.controls.confirmacaoNovaSenha"></tgt-input>
    </div>
    }


    @if(footerActions) {
    <div class="edit">
      <tgt-button [color]="'primary'" [size]="'small'" [iconPosition]="'left'" [fieldButton]="'outline'"
        (click)="cancelarEditar()" [disabled]="false" [border]="false" [type]="'button'">
        Cancelar
      </tgt-button>
      <tgt-button [color]="'secundary'" [size]="'small'" [iconPosition]="'left'" [fieldButton]="'field'"
        (click)="atualizar()" [disabled]="false" [border]="true" [type]="'button'">
        Salvar
      </tgt-button>
    </div>
    }




  </div>
</main>
