main {
  display: flex;
  flex-direction: column;
  // gap: 24px;

  .header {
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .ft-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    cursor: pointer;
    justify-content: space-between;
  }

  .pag-footer {
    position: absolute;
    bottom: 20px;
    right: 70px;
  }

  .usuarioNaoEcontrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
