.tab-central-custo {
    display: flex;
    flex-direction: column;
    height: 75vh;
    overflow: auto;
    gap: 24px;
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }
    .body {
        display: flex;
        flex-direction: column;
        height: 70vh;
        width: 100%;
        overflow: auto;
        justify-content: space-between;
        gap: 16px;

        tgt-list {
            width: 96%;
        }

    }
    .pag {
        display: flex;
        width: 90%;
        justify-content: end;
        margin-right: 35px;
    }

    .input-box {
        width: 500px;
    }
}