.tab-central-custo {
    display: flex;
    flex-direction: column;
    // height: 75vh;
    overflow: auto;
    gap: 24px;
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }
    .body {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: auto;
        justify-content: space-between;
        gap: 16px;

    }
    .pag-footer {
        position: absolute;
        bottom: 20px;
        right: 70px;
    }


    .input-box {
        width: 500px;
    }
}
.ft-btn{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}
.w-button {
    width: 48px;
}