<main>

  <div class="header">
    <div class="esquerdo">
      <span class="material-symbols-outlined icone" (click)="back()">arrow_back</span>
      <h3>8° Ano - Turma B</h3>

    </div>
    <div class="direito">
      <tgt-button [color]="'primary'" [icon]="'done_all'" (click)="realizarChamada()">Realizar chamada</tgt-button>
      <span class="material-symbols-outlined icone" (click)="excluirTurma()">more_vert</span>
    </div>
  </div>

  <app-tabs [tabs]="tabs" (change)="chosenTab($event)"></app-tabs>

  @switch (opcaoTabSelecionada) {
    @case ('chamadas') {
      <div class="find">
        <tgt-input-icon [control]="this.form.controls.buscarTurma" [icon]="'search'" [backGround]="'#EEF2E9'"
        [placeholder]="'Busque aqui'" [iconPosition]="'right'"></tgt-input-icon>
      </div>

        <tgt-list>
          <div header class="header-list">
            <tgt-header-list>
              <tgt-header-col>Colaborador</tgt-header-col>
              <tgt-header-col>Matéria</tgt-header-col>
              <tgt-header-col>Perfil</tgt-header-col>
              <tgt-header-col>Matéria</tgt-header-col>
              <tgt-header-col></tgt-header-col>
            </tgt-header-list>
          </div>
          <div body class="body">
            @for (item of data; track item) {
            <tgt-item-list>
              <tgt-item-data>{{ item.colaborador }}</tgt-item-data>
              <tgt-item-data>{{ item.materia }}</tgt-item-data>
              <tgt-item-data>{{ item.perfil }}</tgt-item-data>
              <tgt-item-data>{{ item.materia }}</tgt-item-data>
              <tgt-item-data>
                <span class="material-symbols-outlined icone" (click)="baixarChamada()">download</span>
                <span class="material-symbols-outlined icone" (click)="visualizarChamada()">search</span>
              </tgt-item-data>
            </tgt-item-list>
            }
          </div>
        </tgt-list>
    }
    @case ('alunos') {
      <div class="aluno-find">
        <tgt-button [size]="'small'" [border]="false" [color]="'primary'" [fieldButton]="'outline'" [icon]="'school'" (click)="vincularAluno()">Vincular Aluno</tgt-button>
        <tgt-input-icon [control]="this.form.controls.buscarTurma" [icon]="'search'" [backGround]="'#EEF2E9'"
        [placeholder]="'Busque aqui'" [iconPosition]="'right'"></tgt-input-icon>
      </div>

        <tgt-list>
          <div header class="header-list">
            <tgt-header-list>
              <tgt-header-col>Aluno</tgt-header-col>
              <tgt-header-col>Nome Responsável</tgt-header-col>
              <tgt-header-col>E-mail responsável</tgt-header-col>
              <tgt-header-col></tgt-header-col>
            </tgt-header-list>
          </div>
          <div body class="body">
            @for (item of alunos; track item) {
            <tgt-item-list>
              <tgt-item-data>{{ item.nome }}</tgt-item-data>
              <tgt-item-data>{{ item.responsavel }}</tgt-item-data>
              <tgt-item-data>{{ item.email_responsavel }}</tgt-item-data>
              <tgt-item-data>
                <span class="material-symbols-outlined icone" (click)="desvincularAluno()">delete</span>
                <span class="material-symbols-outlined icone">arrow_forward</span>
              </tgt-item-data>
            </tgt-item-list>
            }
          </div>
        </tgt-list>
    }
    @case ('professores') {
      <div class="aluno-find">
        <tgt-button [size]="'small'" [border]="false" [color]="'primary'" [fieldButton]="'outline'" [icon]="'badge'" (click)="vincularProfessor()">Vincular Professor</tgt-button>
        <tgt-input-icon [control]="this.form.controls.buscarTurma" [icon]="'search'" [backGround]="'#EEF2E9'"
        [placeholder]="'Busque aqui'" [iconPosition]="'right'"></tgt-input-icon>
      </div>

        <tgt-list>
          <div header class="header-list">
            <tgt-header-list>
              <tgt-header-col>Professor</tgt-header-col>
              <tgt-header-col>E-mail</tgt-header-col>
              <tgt-header-col>Materia</tgt-header-col>
              <tgt-header-col></tgt-header-col>
            </tgt-header-list>
          </div>
          <div body class="body">
            @for (item of professores; track item) {
            <tgt-item-list>
              <tgt-item-data>{{ item.nome }}</tgt-item-data>
              <tgt-item-data>{{ item.email }}</tgt-item-data>
              <tgt-item-data>{{ item.materia }}</tgt-item-data>
              <tgt-item-data>
                <span class="material-symbols-outlined icone" (click)="desvincularProfessor()">delete</span>
                <span class="material-symbols-outlined icone">arrow_forward</span>
              </tgt-item-data>
            </tgt-item-list>
            }
          </div>
        </tgt-list>
    }
  }



</main>
