<tgt-modal>
    @switch (step) {
        @case(1) {
            <div class="main">
                <div class="left">
                    <img src="assets/images/welcome.svg" width="350" height="350" srcset="">
                </div>
                <div class="right">
                    <div class="conteudo">
                        <div class="intro">Olá, <span>{{ nameUser }}!</span></div>
                        <div class="container">
                            Boas-vindas a <span>Togo Trip!</span>
                            Sua nova plataforma de gerenciamento de viagens corporativas.
                        </div>
                        <div class="end-conteudo">
                            Vamos descobrir o que você vai encontrar por aqui?
                        </div>
                    </div>
        
                    <div class="footer">
                        <tgt-button [fieldButton]="'outline'" [border]="false" (click)="pular()" size="small" (click)="pular()">Pular</tgt-button>
                        <tgt-button [icon]="'trending_flat'" iconPosition="right" color="secundary" (click)="next()" size="small">Continuar</tgt-button>
                    </div>
                </div>
            </div>
        }
        @case(2) {
            <div class="main">
                <div class="left">
                    <img src="assets/images/Travel1.svg" width="350" height="350" srcset="">
                </div>
                <div class="right">
                    <div class="conteudo">
                        <div class="title">Viagens</div>
                        <div class="texto">
                            Aqui você encontra as <span>melhores tarifas</span> para suas viagens,
                             economizando tempo e dinheiro. Acompanha o status de suas <span>solicitações de reservas</span> e tem o <span>controle de aprovações</span> de viagens solicitadas por seus colaboradores.
                        </div>
                    </div>
        
                    <div class="footer-2">
                        <tgt-button iconPosition="right" fieldButton="outline" (click)="back()" size="small">Voltar</tgt-button>
                        <div class="btns">
                            <tgt-button [fieldButton]="'outline'" [border]="false" (click)="pular()" size="small">Pular</tgt-button>
                            <tgt-button [icon]="'trending_flat'" iconPosition="right" color="secundary" (click)="next()" size="small">Continuar</tgt-button>
                        </div>
                    </div>
                </div>
            </div>
        }
        @case(3) {
            <div class="main">
                <div class="left">
                    <img src="assets/images/Admin.svg" width="350" height="350" srcset="">
                </div>
                <div class="right">
                    <div class="conteudo">
                        <div class="title">Gerenciamento</div>
                        <div class="texto">
                            Visualiza e gerencia seus gastos através de <span>dashboard</span>. 
                            Crie <span>centrais de custos</span> para monitorar os gastos por departamento e <span>personaliza o sistema</span>  de acordo com suas preferências e necessidades, garantindo uma  experiência controlada
                        </div>
                    </div>
        
                    <div class="footer-2">
                        <tgt-button iconPosition="right" fieldButton="outline" (click)="back()" size="small">Voltar</tgt-button>
                        <div class="btns">
                            <tgt-button [fieldButton]="'outline'" [border]="false" (click)="pular()" size="small">Pular</tgt-button>
                            <tgt-button [icon]="'trending_flat'" iconPosition="right" color="secundary" (click)="next()" size="small">Continuar</tgt-button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    
</tgt-modal>