<main>
  <div class="left">
    <div class="conteudo">
      <img src="assets/images/logo_dark.svg">

      <div class="text-desk">
        <h1>Olá, <span>{{nomeSolicitante}}</span>!</h1>

        <p>Conclua seu cadastro e aproveite as melhores condições para suas viagens.</p>
      </div>

    </div>

  </div>
  <div class="right">
    @switch (steps) {

      @case(1) {
        <div class="content">
          <h3>Precisamos de alguns dados pessoais:</h3>
          <form [formGroup]="formRequest">
            <tgt-input label="Nome" [control]="formRequest.controls.nome" [readonly]="true"></tgt-input>
            <tgt-input label="CPF" mask="000.000.000-00" [control]="formRequest.controls.cpf"></tgt-input>


            <tgt-input label="Telefone" mask="(00) 00000-0000"
                       [control]="formRequest.controls.telefone"></tgt-input>
            <div class="footer">
              <tgt-input label="Data Nascimento" type="date" [control]="formRequest.controls.dataNascimento"></tgt-input>
              <tgt-select [label]="'Gênero*'" [options]="options" class="col-6"  [control]="formRequest.controls.sexo"></tgt-select>
            </div>
            <tgt-input [label]="'E-mail'" [control]="formRequest.controls.email" [readonly]="true"></tgt-input>
          </form>
        </div>
      }
      @case(2) {
        <div class="content">
          <h3>Cadastre sua senha de acesso:</h3>
          <form [formGroup]="formRequest">
            <tgt-input label="Senha*" type="password" [control]="senha"></tgt-input>
            <tgt-input [label]="'Confirmar Senha*'" type="password"
                       [control]="formRequest.controls.password"></tgt-input>
          </form>
          <div class="section">
            <span class="info-label">A senha deve conter:</span>
            <div class="info-detail">
              @if(senha.value == null) {
                <span class="material-symbols-outlined icone">do_not_disturb_on</span>
              } @else if(senha.value['length'] >= 8) {

                <span class="material-symbols-outlined icone" [style.color]="'#3CCF17'">check_circle</span>
              } @else {

                <span class="material-symbols-outlined icone" [style.color]="'#FA077C'">cancel</span>
              }
              <p>Pelo menos 8 caracteres;</p>
            </div>
            <div class="info-detail">
              @if(senha.value == null && haveUppercaseAndLowwercase == false) {
                <span class="material-symbols-outlined icone">do_not_disturb_on</span>
              } @else if(haveUppercaseAndLowwercase) {
                <span class="material-symbols-outlined icone" [style.color]="'#3CCF17'">check_circle</span>
              } @else {
                <span class="material-symbols-outlined icone" [style.color]="'#FA077C'">cancel</span>
              }
              <p>Letras maiúsculas e minúsculas;</p>
            </div>
            <div class="info-detail">
              @if(senha.value == null && contentNumbers == false) {
                <span class="material-symbols-outlined icone">do_not_disturb_on</span>
              } @else if(contentNumbers) {
                <span class="material-symbols-outlined icone" [style.color]="'#3CCF17'">check_circle</span>
              } @else {
                <span class="material-symbols-outlined icone" [style.color]="'#FA077C'">cancel</span>
              }
              <p>Números;</p>
            </div>
            <div class="info-detail">
              @if(senha.value == null && specialChars == false) {
                <span class="material-symbols-outlined icone">do_not_disturb_on</span>
              } @else if(specialChars) {
                <span class="material-symbols-outlined icone" [style.color]="'#3CCF17'">check_circle</span>
              } @else {
                <span class="material-symbols-outlined icone" [style.color]="'#FA077C'">cancel</span>
              }

              <p>Caracteres especiais.</p>
            </div>
          </div>

        </div>
      }
      @case(3) {
        <div class="content-end">
          <img src="assets/images/airplanesuccess.png" alt="" srcset="">
          <div class="text">
            <h2>Parabéns!</h2>
            <p>Cadastro concluído com sucesso! Realize o Login e aproveite as melhores condições para suas viagens.
            </p>
          </div>

          <div class="btn-l">
            <tgt-button [icon]="'login'" iconPosition="right" [routerLink]="['/login']">Entrar</tgt-button>
          </div>
        </div>
      }
    }

    <div class="footer-btn" [style.justify-content]="steps==1 ? 'end' : 'space-between'">
      @if(steps>1 && steps < 3){ <div class="btn-l">
        <tgt-button [fieldButton]="'outline'" (click)="backStep()" [border]="false" size="small">Voltar</tgt-button>
      </div>
      }
      @if(steps != 3) {
        <div class="btn-l">
          <tgt-button [icon]="'trending_flat'" size="small" iconPosition="right" (click)="nextStep()">Continuar</tgt-button>
        </div>
      }
    </div>
  </div>
</main>
