<tgt-modal>
  <main>
    <div class="card">
      <div class="title">
        <span class="material-symbols-outlined icon">help</span>
        <span class="label">Suporte</span>
      </div>
      <div class="texto">
        Por favor, informe o assunto a ser tratado e descreva o que está ocorrendo. Enviaremos isso para nossa equipe de
        suporte, que responderá o mais rápido possível.
      </div>
    </div>
    <div class="form">
      <tgt-input label="Assunto" [control]="form.controls.assunto"></tgt-input>
      <tgt-textarea label="Descrição" [control]="form.controls.menssagem" (input)="contagem()"></tgt-textarea>
      <p class="contagem">{{ contagemCaracteres }} / 300 caracteres</p>
      @if(contagemCaracteres > 300) {
      <h6>A mensagem não pode exceder 300 caracteres.</h6>
      }
    </div>
    <div class="buttons grid col-12">
      <tgt-button fieldButton="outline" class="col-6" [border]="false" [type]="'button'" (click)="cancelar()">Cancelar</tgt-button>
      <tgt-button color="secundary" class="col-6" icon="trending_flat" [disabled]="!form.valid"
        (click)="enviar()">Enviar</tgt-button>
    </div>
  </main>
</tgt-modal>
