@import "../../../assets/styles/colors.scss";
main {
  width: 212px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;


}

.item-arrow {
  font-size: 16px;
  width: 32px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  cursor: pointer;
  transition: all .5s;

  &:hover {
    background-color: $color-primary;
  }
}

.item {
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all .5s;

  span {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    line-height: 15.85px;
    text-align: left;

  }



  &:hover {
    background-color: $color-primary;
  }
}
.clicked {
  background-color: $color-primary;
}
