.status {
    width: 16px;
    height: 15px;
    border-radius: 16px;
    background-color: #18E345;

    &.inativo {
        background-color: #EE0D43;
    }
    &.pendente {
      background-color: #F1A40D;
  }

}
