<main>
  <div class="header">
    <tgt-select [label]="'Status'" [options]="options" [control]="select" class="col-6"></tgt-select>
  </div>
  <tgt-table>
    <tgt-header-table header>
      <tgt-header-table-data>Nome</tgt-header-table-data>
      <tgt-header-table-data>Data de Criaçào</tgt-header-table-data>
      <tgt-header-table-data>Data de finalização</tgt-header-table-data>
      <tgt-header-table-data>Orçamento</tgt-header-table-data>
      <tgt-header-table-data>Status</tgt-header-table-data>
      <tgt-header-table-data>Ações</tgt-header-table-data>
    </tgt-header-table>
    @for (item of data; track item) {
    <tgt-item-table body>
      <tgt-table-data>{{ item.nome }}</tgt-table-data>
      <tgt-table-data>{{ item.createdAt }}</tgt-table-data>
      <tgt-table-data>{{ item.updatedAt }}</tgt-table-data>
      <tgt-table-data>{{ item.orcamento }}</tgt-table-data>
      <!-- | currency: 'R$ ' -->
      <tgt-table-data>
        <tgt-status-circle [status]="item.status"></tgt-status-circle>
        {{ item.status }}
      </tgt-table-data>
      <tgt-table-data><tgt-button icon="search" iconPosition="left" size="small" color="secundary"
          (click)="openHistorico(item.id)"></tgt-button></tgt-table-data>
    </tgt-item-table>
    }
  </tgt-table>

  <div class="pag-footer">
    <tgt-paginator [pageSize]="tamanhoPagina" [currentPage]="pagina" [totalItems]="totalItems"></tgt-paginator>
  </div>
</main>
