<div class="main" [style.border-color]="control.value ? '#FDD22A' : '#000'">
  <label class="input">
    <textarea class="input__field"
              [style.border]="border ?' 1px solid #5e5e5e': 'none'"
              [formControl]="control"
              placeholder=" "
              [readOnly]="readonly"
              [style.cursor]="readonly ? 'not-allowed' : 'pointer'"
              [style.background-color]="readonly ? '#f7f7f7' : '#fff'"
              [mask]="mask" [style.border-color]="control.value ? '#FDD22A' : '#000'"
              [style.outline-color]="control.value ? '#FDD22A' : '#000'" [rows]="linhas" style="resize: none"></textarea>
    <span class="input__label">{{ label }}</span>
  </label>
</div>
