<sidebar title="Adicionar integrante">
  <main>
    <div class="body">
      <tgt-input label="Nome" [control]="form.controls.nome"
      ></tgt-input>
      <tgt-input label="E-mail corporativo*" [control]="form.controls.email"
      ></tgt-input>

      <span>Escolha o perfil de acesso*:</span>
      <div class="perfil">

        <div class="permissao">
          <tgt-radio [value]="Role.ADMIN" [control]="form.controls.role"><p class="label">Administrador</p> <h5>Gerenciam os perfis de acesso, definindo quem será Administrador, Gestor ou Passageiro.</h5> </tgt-radio>
          <div class="label">
          </div>
        </div>

        <div class="permissao">
          <tgt-radio [value]="Role.MANAGER" [control]="form.controls.role"><p class="label">Gestor</p> <h5>Solicitam reservas de viagens para terceiros. Se o Administrador permitir, solicitam reservas para si mesmos e aprovam solicitações de viagens.</h5> </tgt-radio>
          <div class="label">
          </div>
        </div>

        <div class="permissao">
          <tgt-radio [value]="Role.USER" [control]="form.controls.role"><p class="label">Viajante</p> <h5>Acompanham as viagens em que foram incluídos como passageiros. Se o Administrador permitir, também podem solicitar reservas para si mesmos.</h5> </tgt-radio>
          <div class="label">
          </div>
        </div>

      </div>
    </div>
    <div class="footer">
      <tgt-button fieldButton="outline" size="small" (click)="cancelar()" >Cancelar</tgt-button>
      <tgt-button icon="add" color="secundary" size="small" (click)="cadastrar()" >Adicionar</tgt-button>
    </div>

  </main>

</sidebar>
