<main>
    <div class="circle">
        <div class="conteudo">
            <img src="assets/images/logo_dark.svg" width="150px">
            <h1 class="title-mob"><strong>Hey, </strong>Bem vindo!</h1>
            <div class="title-text-desk">
                <h1><span>Hey,</span> Bem vindo!</h1>
                <div class="text">
                    <p>Faça reservas e simplifique o gerenciamento de suas viagens corporativas com a To Go Trip! Desfrute das melhores tarifas, mantenha o controle das despesas e assegure o conforto de seus colaboradores.</p>
                    <p>Economize tempo e dinheiro.</p>
                </div>
            </div>
        </div>
    
    </div>
    <div class="content">
        <form [formGroup]="formLogin" (submit)="entrar()" class="form">
            <h1 class="title-desk"><strong>Hey, </strong>Bem Vindo!</h1>
            <h2>Entrar</h2>
            <tgt-input-icon [control]="this.formLogin.controls.email" placeholder="username" [type]="'email'" icon="email" ></tgt-input-icon>
            <tgt-input-icon [control]="this.formLogin.controls.password" placeholder="password" [type]="'password'" icon="lock" ></tgt-input-icon>
            <div class="forgot">
                <span><a href="#">Esqueci minha senha</a></span>
            </div>
            <tgt-button type="submit" [color]="'primary'" icon="login" size="small" iconPosition="right" (click)="entrar()">Entrar</tgt-button>
        </form>
        <div class="create">
            <span>Não possui uma conta? <a [routerLink]="['/register']" >Cadastre-se</a></span>
        </div>
    </div>

</main>

