<tgt-modal>
  <main>
    <div class="content">
      <span class="title">Deseja realmente finalizar o atendimento ?</span>
      <span class="text">
        Ao confirmar você não poderá voltar atrás com esta ação.
      </span>
    </div>
    <div class="actions">
      <tgt-button fieldButton="outline" size="small" (click)="cancel()">
        cancelar
      </tgt-button>
      <tgt-button color="secundary" size="small" (click)="finalizar()">
        Sim, finalizar
      </tgt-button>
    </div>
  </main>

</tgt-modal>
