main {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;

  .filtros {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  justify-content: space-between;
  gap: 16px;
}




.input-box {
  width: 500px;
}


