<main>
  <div class="header">
    <div class="filtros">
      <tgt-select [label]="'Status'" [options]="optionStatus" [control]="selectStatus" class="col-6"></tgt-select>
      <tgt-select [label]="'Perfil'" [options]="optionPerfil" [control]="selectPerfil" class="col-6"></tgt-select>
    </div>
    <div class="input-box">
      <tgt-input-icon icon="search" iconPosition="right" [control]="pesquisa"
        placeholder="Busque uma central..."></tgt-input-icon>
    </div>
    <tgt-button icon="add" iconPosition="left" size="small" color="secundary" (click)="novoUsuario()">Adicionar
    </tgt-button>
  </div>

  <app-tabs [tabs]="tabs" (change)="chosenTab($event)"></app-tabs>

  <div class="body">
    @switch (opcaoTabSelecionada) {
      @case('colaboradores') {
        @defer{
          <tgt-colaboradores></tgt-colaboradores>
        }
      }
      @case('convites') {
        @defer{
          <tgt-convites></tgt-convites>
        }
      }
    }
  </div>
</main>
