<sidebar title="Adicionar central de custo">
  <div class="sidebar">
    <div class="main">
      <tgt-input label="Nome da Central" [control]="form.controls.nome"
      ></tgt-input>
      <toggle [icon]="'help'" [label]="'Teto orçamentário'" (changeToggle)="tetoChange($event)"></toggle>
      @if(tetoOrcamentario) {
        <tgt-input label="Valor" [control]="form.controls.valor" type="number"
        ></tgt-input>
        <tgt-select [label]="'Selecione um cartão*'" [options]="options" [control]="form.controls.cartaoId"
                    class="col-6"></tgt-select>
      }

     <toggle [icon]="'help'" [label]="'Ativo'"></toggle>
    </div>


    <div class="footer">
      <tgt-button color="primary" [fieldButton]="'outline'" (click)="close()">
        Cancelar
      </tgt-button>
      <tgt-button color="secundary" [border]="false" icon="save" (click)="cadastrar()"
      >Salvar
      </tgt-button>
    </div>
  </div>


</sidebar>
