<sidebar title="Adicionar central de custo">
    <div class="main">
        <div class="tgt">
            <tgt-input label="Nome"
            ></tgt-input>
        </div>
       
        <tgt-input label="Orçamento" type="number"
        ></tgt-input>

        <toggle [icon]="'help'" [label]="'Ativo'"></toggle>
    </div>

    <div class="footer">
        <tgt-button color="primary" [fieldButton]="'outline'"(click)="close()">Cancelar</tgt-button>
        <tgt-button color="secundary" [border]="false" icon="save">Salvar</tgt-button>
    </div>

</sidebar>