main {
    width: 32px;
    height: 32px;
    padding: 2px;
    gap: 10px;
    border-radius: 1000px;
    border: solid 3px #FFD200;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}