main {
    padding: 2px;
    gap: 10px;
    border-radius: 1000px;
    border: solid 3px #39693B;
    background-color: #39693B;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
