<h1>aqui</h1>
<!-- <main>
  <div class="header">
    <video class="video" [autoplay]="true" muted loop src="assets/video/horizon2.mp4">
    </video>
    <div class="menu">
      <img src="assets/images/logo.svg">
      <ul>
        <li><a href="#about">Quem somos</a></li>
        <li><a href="#services">Serviços</a></li>
        <li><a href="#planos">Planos</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
      <div class="buttons">
        <span class="btn" [routerLink]="'/register'">Cadastre-se</span>
        <span class=" btn logar" [routerLink]="'/login'">Login</span>
      </div>
    </div>
    <span class="texto-intro">
            <div class="text">
                Impulsione o sucesso da sua empresa
            </div>
            <div class="button">
                <tgt-button color="secundary" size="small">Falar com um especialista</tgt-button>
            </div>

        </span>
  </div>
  <div class="about" id="about">
    <div class="header-about">
        <span class="title">
          QUEM SOMOS
        </span>
      <span class="text">
        Em cada esquina desta terra encantada, há um conto esperando para ser contado,
        uma aventura aguardando para ser vivida.
        Os heróis corajosos se erguem para desafiar os perigos que espreitam nas
        profundezas das florestas escuras,
        enquanto os sábios buscam os segredos antigos guardados nas ruínas esquecidas.
      </span>
    </div>
    <div class="content-about">
      <img class="imagem" src="assets/images/mockupImac.png" alt="macbook com a imagem do sistema">
    </div>
  </div>

  <div class="services" id="services">
    <div class="header-service">
      <div class="text-service">
        <span class="title">SERVIÇOS</span>
        <span class="text">Aprimoramos a gestão de viagens e despesas da sua empresa,
          impulsionando  a produtividade, economizando tempo e recursos.
          Descubra nossas  soluções agora:</span>
      </div>

    </div>
    <div class="content-service">
      <app-tabs [tabs]="tabs" [border]="false" [darkMode]="true" (change)="chosenTab($event)"></app-tabs>
      @switch (opcaoSelecionada) {
        @case('gestao_de_viagens') {
          <div class="cards-service">
            <div class="left">
              <article>
                <span class="title-article">Gestão de Viagens</span>
                <span class="text-article">
                Em questão de minutos,
                seus colaboradores poderão concluir a compra de  passagens e reservar hotel.
                Tudo de forma simples, sem  estresse e com um atendimento excepcional.
              </span>
              </article>
              <article>
                <span class="title-article">Passagens Aéreas</span>
                <span class="text-article">
                Aproveite para fazer reservas nos melhores hotéis do país,
                com preços exclusivos. Com a Togo Trip,
                você pode reservar em apenas alguns cliques,
                garantindo os melhores lugares para seus colaboradores.
              </span>
              </article>
              <article>
                <span class="title-article">Reserva em Hotéis</span>
                <span class="text-article">
                Aproveite para fazer reservas nos melhores hotéis do país,
                com preços  exclusivos. Com a Togo Trip,
                você pode reservar em apenas alguns  cliques,
                garantindo os melhores lugares para seus colaboradores.
              </span>
              </article>
            </div>
            <div class="right">
              <img src="assets/images/aviaonoar.png" alt="" srcset="">
            </div>

          </div>
        }
        @case('gestao_de_despesas') {
          <div class="cards-service">
            <div class="left">
              <article>
                <span class="title-article">Aprovações de Viagens</span>
                <span class="text-article">
                Através da nossa plataforma sua empresa pode configurar diferentes
                  políticas de viagens para colaboradores e estabelecer níveis de aprovações,
                  proporcionando tranquilidade e transparência durante o processo de reserva de hotéis e passagens.
              </span>
              </article>
              <article>
                <span class="title-article">Centrais de Custos</span>
                <span class="text-article">
                  Por meio das centrais de custo,
                  sua empresa terá controle sobre os  gastos por setores ou equipes.
                  Você pode estabelecer limites  orçamentários e designar quem realizará
                  reservas de passagens aéreas e  hotéis em centrais específicas.
              </span>
              </article>
              <article>
                <span class="title-article">Geração de Relatórios</span>
                <span class="text-article">
                Exporte relatórios abrangentes sobre as viagens corporativas,
                  fundamentais para embasar decisões estratégicas.
                  Monitore o volume de viagens por mês e ano,
                  com detalhes individuais por colaborador e centrais de custos.
              </span>
              </article>
            </div>
            <div class="right">
              <img src="assets/images/gdespesas.png" alt="" srcset="">
            </div>
          </div>
        }
        @case('gestao_de_equipe') {
          <div class="cards-service">
            <div class="left">
              <article>
                <span class="title-article">Gestão de Colaboradores</span>
                <span class="text-article">
                Sua empresa pode decidir as alocações de colaboradores
                  em Centrais de  Custo e se Gestores apenas aprovarão
                  ou também farão viagens,  flexibilizando os perfis dos colaboradores.
              </span>
              </article>
              <article>
                <span class="title-article">Controle de Acessos</span>
                <span class="text-article">
                  Personalize os perfis de acesso para seus colaboradores,
                  podendo integrá-los como Gestores (responsáveis pela aprovação
                  de solicitações de reservas) ou Viajantes (responsáveis por solicitar as reservas).
              </span>
              </article>
              <article>
                <span class="title-article">Relatórios de equipe</span>
                <span class="text-article">
                Tenha em os relatorios de cada equipe.
              </span>
              </article>
            </div>
            <div class="right">
              <img src="assets/images/gequipe.png" alt="" srcset="">
            </div>
          </div>
        }
      }
      <tgt-button icon="chat" color="secundary" size="small">Falar com Especialista</tgt-button>
    </div>
  </div>

  <div id="planos">
    <div class="header-planos">
        <span class="title">
          PLANOS
        </span>
      <span class="text">
          Descomplicamos em tudo, inclusive nos planos. Conheça o plano
        ideal para otimizar a gestão de viagens e despesas na sua empresa.
      </span>
    </div>
    <div class="content-planos">
      <div class="card">
        <div class="card-header">
          <img src="assets/images/basic.png" alt="" srcset="">
          <span class="title-plan">Basic</span>
        </div>
        <div class="card-subheader">
          <div class="valor-ano">
            <span class="valor">R$ 1.249,00</span> <span class="info-value">/mes</span>
          </div>
          <div class="valor-mes">
            <span class="valor">R$ 14.999,00</span> <span class="info-value">/ano</span>
          </div>
        </div>
        <ul class="list">
          <li>
            <span class="material-symbols-outlined icon">
            check_circle
            </span>
            <span class="value">50 usuários</span>
          </li>
          <li>
            <span class="material-symbols-outlined icon">
            check_circle
            </span>
            <span class="value">2 cartão de crédito</span>
          </li>
          <li>
            <span class="material-symbols-outlined icon">
            check_circle
            </span>
            <span class="value">5 centrais de custo</span>
          </li>
          <li>
            <span class="material-symbols-outlined icon">
            check_circle
            </span>
            <span class="value">5 justificativas</span>
          </li>
          <li>
            <span class="material-symbols-outlined icon">
            check_circle
            </span>
            <span class="value">Dashboard em rempo real</span>
          </li>

        </ul>
        <tgt-button icon="chat" color="secundary" size="small" [border]="true">Falar com Especialista</tgt-button>
      </div>
      <div class="card">
        <div class="card-header">
          <img src="assets/images/business.png" alt="" srcset="">
          <span class="title-plan">Business</span>
        </div>
        <div class="card-subheader">
          <div class="valor-ano">
            <span class="valor">R$ 2.165,00</span> <span class="info-value">/mes</span>
          </div>
          <div class="valor-mes">
            <span class="valor">R$ 25.999,00</span> <span class="info-value">/ano</span>
          </div>
        </div>
        <ul class="list">
          <li>
            <span class="material-symbols-outlined icon">
            check_circle
            </span>
            <span class="value">usuários ilimitados</span>
          </li>
          <li>
            <span class="material-symbols-outlined icon">
            check_circle
            </span>
            <span class="value">cadastro de cartão de crédito ilimitado</span>
          </li>
          <li>
            <span class="material-symbols-outlined icon">
            check_circle
            </span>
            <span class="value">centrais de custo ilimitado</span>
          </li>
          <li>
            <span class="material-symbols-outlined icon">
            check_circle
            </span>
            <span class="value">justificativas ilimitadas</span>
          </li>
          <li>
            <span class="material-symbols-outlined icon">
            check_circle
            </span>
            <span class="value">Dashboard em rempo real</span>
          </li>
          <li>
            <span class="material-symbols-outlined icon" style="color: #FFD200">
            star
            </span>
            <span class="value">10 voos emergenciais por ano</span>
          </li>

        </ul>
        <tgt-button icon="chat" color="secundary" size="small" [border]="true">Falar com Especialista</tgt-button>
      </div>
      <div class="card">
        <div class="card-header">
          <img src="assets/images/standard.png" alt="" srcset="">
          <span class="title-plan">Standard</span>
        </div>
        <div class="card-subheader">
          <div class="valor-ano">
            <span class="valor">R$ 1.599,00</span> <span class="info-value">/mes</span>
          </div>
          <div class="valor-mes">
            <span class="valor">R$ 19.188,00</span> <span class="info-value">/ano</span>
          </div>
        </div>
        <ul class="list">
          <li>
            <span class="material-symbols-outlined icon">
            check_circle
            </span>
            <span class="value">80 usuários</span>
          </li>
          <li>
            <span class="material-symbols-outlined icon">
            check_circle
            </span>
            <span class="value">5 cartão de crédito</span>
          </li>
          <li>
            <span class="material-symbols-outlined icon">
            check_circle
            </span>
            <span class="value">15 centrais de custo</span>
          </li>
          <li>
            <span class="material-symbols-outlined icon">
            check_circle
            </span>
            <span class="value">15 justificativas</span>
          </li>
          <li>
            <span class="material-symbols-outlined icon">
            check_circle
            </span>
            <span class="value">Dashboard em rempo real</span>
          </li>

        </ul>
        <tgt-button icon="chat" color="secundary" size="small" [border]="true">Falar com Especialista</tgt-button>
      </div>
    </div>
  </div>

  <div id="contato">
    <div class="content-footer">
      <div class="content">
        <div class="left">
          <img src="assets/images/logo.svg" style="width: 120px">
          <div class="help">
            <span class="title">
              Precisa de ajuda?
            </span>
            <span class="text">
              envie uma menssagem ou chame a gente no WhatsApp:
            </span>
          </div>
          <ul>
            <li>
              <span class="material-symbols-outlined icon">
              mail
              </span>
              <span> Enviar menssagem</span>
            </li>
            <li>
              <span class="material-symbols-outlined icon">
              chat
              </span>
              <span>Conversar</span>
            </li>
          </ul>
        </div>
        <div class="right">
          <div class="social">
            <div class="text">Siga a Togo Trip</div>
            <div class="icones">
              <img src="assets/images/linkedin.png" alt="" srcset="">
              <img src="assets/images/instagram.png" alt="" srcset="">
            </div>
          </div>
          <div class="contatos">
            <span class="title">Contatos</span>
            <div class="mail">
              <span>{{'contato@togotrip.com.br'}}</span>
              <span class="material-symbols-outlined cop">
              content_copy
              </span>
            </div>
            <span class="label">(41) 99752-6459</span>
          </div>
          <span class="link">
            <a href="#">Política de Privacidade</a>
          </span>
          <span class="link">
            <a href="#">Termos de Uso</a>
          </span>
        </div>
      </div>
      <div class="footer-page">
        <span>Brasil - 2023-2024</span>
      </div>
    </div>
  </div>
</main> -->
