@import '../../../assets/styles/colors.scss';
main {
    // position: relative;
}
#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .5);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // background-color: $color-off-white;
    z-index: 10;

    animation: initModal .8s;
}

@keyframes initModal {
    from {
        opacity: 0;
        top: 70%;
    }
    to {
        opacity: 1;
        top: 50%;
    }
}
