<main>

  <div class="card-superior">
    <h3>Precisa de ajuda?</h3>
    <br>
    <label>Aqui você encontra todas as informações que você precisa para <br>
      utilizar a plataforma com a máxima eficiência.</label>
  </div>

  <div class="card-inferior">
    <div class="cards">
      <div class="card-header">
        <span class="material-symbols-outlined icon">
          meeting_room
        </span>
        <span class="title">
          <h3>Turmas</h3>
        </span>
      </div>
      <div class="card-footer">
        <div class="btn">
          <tgt-button [routerLink]="'/admin/turmas'" icon="trending_flat" iconPosition="left" size="small" color="success"></tgt-button>
        </div>
      </div>
    </div>

    <div class="cards">
      <div class="card-header">
        <span class="material-symbols-outlined icon">
          badge
        </span>
        <span class="title">
          <h3>Colaboradores</h3>
        </span>
      </div>
      <div class="card-footer">
        <div class="btn">
          <tgt-button [routerLink]="'/admin/colaboradores'" icon="trending_flat" iconPosition="left" size="small" color="success"></tgt-button>
        </div>
      </div>
    </div>


    <div class="cards">
      <div class="card-header">
        <span class="material-symbols-outlined icon">
          school
        </span>
        <span class="title">
          <h3>Alunos</h3>
        </span>
      </div>
      <div class="card-footer">
        <div class="btn">
          <tgt-button [routerLink]="'/admin/alunos'" icon="trending_flat" iconPosition="left" size="small" color="success"
            [routerLink]="'/admin/dashboard'"></tgt-button>
        </div>
      </div>
    </div>

    <div class="cards">
      <div class="card-header">
        <span class="material-symbols-outlined icon">
          nest_cam_wired_stand
        </span>
        <span class="title">
          <h3>Central</h3>
        </span>
      </div>
      <div class="card-footer">
        <div class="btn">
          <tgt-button [routerLink]="'/admin/central'" icon="trending_flat" iconPosition="left" size="small" color="success"
            [routerLink]="'/admin/dashboard'"></tgt-button>
        </div>
      </div>
    </div>

  </div>
</main>
<!-- <div class="dashboard">
      <span class="title">Dashboard</span>
      <div class="btn">
        <tgt-button icon="trending_flat" iconPosition="left" size="small" color="secundary"
          [routerLink]="'/admin/dashboard'"></tgt-button>
      </div>
    </div>

    <div class="dashboard">
      <span class="title">Dashboard</span>
      <div class="btn">
        <tgt-button icon="trending_flat" iconPosition="left" size="small" color="secundary"
          [routerLink]="'/admin/dashboard'"></tgt-button>
      </div>
    </div>

    <div class="dashboard">
      <span class="title">Dashboard</span>
      <div class="btn">
        <tgt-button icon="trending_flat" iconPosition="left" size="small" color="secundary"
          [routerLink]="'/admin/dashboard'"></tgt-button>
      </div>
    </div>

    <div class="dashboard">
      <span class="title">Dashboard</span>
      <div class="btn">
        <tgt-button icon="trending_flat" iconPosition="left" size="small" color="secundary"
          [routerLink]="'/admin/dashboard'"></tgt-button>
      </div>
    </div>

    <div class="dashboard">
      <span class="title">Dashboard</span>
      <div class="btn">
        <tgt-button icon="trending_flat" iconPosition="left" size="small" color="secundary"
          [routerLink]="'/admin/dashboard'"></tgt-button>
      </div>
    </div> -->

<!-- <div class="header">
    <span class="intro-text">
        Confira tudo que você irá encontrar por aqui:
    </span>
    <tgt-button icon="help" color="secundary" size="small"
                (click)="abrirChamado()">Suport
    </tgt-button>
  </div> -->

<!-- <div class="suport-card">
    <div class="content-card">
      <span class="material-symbols-outlined icon">live_help</span>
      <span class="text">
      Atendimentos do Suporte.
    </span>
    </div>

    <div class="footer">
      <div class="btn">
        <tgt-button icon="trending_flat" iconPosition="left" size="small"
                    color="secundary"
                    [routerLink]="'/admin/suporte-atentimento'"></tgt-button>
      </div>
    </div>
  </div> -->

<!-- <div class="content-card" style="width: 70vw">
    <div class="cards grid col-12">

      <div class="card dashboard col-3">
            <span class="material-symbols-outlined icon">
                dashboard
            </span>
        <span class="title">Dashboard</span>
        <span class="text">
                Gerencie seus gastos através do painel de controle.
            </span>
        <div class="footer">
          <div class="btn">
            <tgt-button icon="trending_flat" iconPosition="left" size="small"
                        color="secundary"
                        [routerLink]="'/admin/dashboard'"></tgt-button>
          </div>
        </div>
      </div>
      <div class="card viajar col-3">
            <span class="material-symbols-outlined icon">
                luggage
            </span>
        <span class="title">Viajar</span>
        <span class="text">
                Encontre as melhores tarifas para viajar.
            </span>
        <div class="footer">
          <div class="btn">
            <tgt-button icon="trending_flat" iconPosition="left" size="small"
                        color="secundary"
                        [routerLink]="'/admin/viajar'"></tgt-button>
          </div>
        </div>
      </div>
      <div class="card reservas col-3">
            <span class="material-symbols-outlined icon">
                date_range
            </span>
        <span class="title">Reservas</span>
        <span class="text">
                Acompanhe o andamento de suas reservas.
            </span>
        <div class="footer">
          <div class="btn">
            <tgt-button icon="trending_flat" iconPosition="left" size="small"
                        color="secundary"
                        [routerLink]="'/admin/reservas'"></tgt-button>
          </div>
        </div>
      </div>
      <div class="card aprovacoes col-3">
            <span class="material-symbols-outlined icon">
                task_alt
            </span>
        <span class="title">Aprovações</span>
        <span class="text">
                Controle os voos de seus viajantes.
            </span>
        <div class="footer">
          <div class="btn">
            <tgt-button icon="trending_flat" iconPosition="left" size="small"
                        color="secundary"
                        [routerLink]="'/admin/aprovacoes'"></tgt-button>
          </div>
        </div>
      </div>
      <div class="card pessoas col-3">
            <span class="material-symbols-outlined icon">
                person_4
            </span>
        <span class="title">Pessoas</span>
        <span class="text">
                Gerencie o acesso da sua equipe.
            </span>
        <div class="footer">
          <div class="btn">
            <tgt-button icon="trending_flat" iconPosition="left" size="small"
                        color="secundary"
                        [routerLink]="'/admin/viajantes'"></tgt-button>
          </div>
        </div>
      </div>
      <div class="card configuracoes col-3">
            <span class="material-symbols-outlined icon">
                calculate
            </span>
        <span class="title">Central de custo</span>
        <span class="text">
                Personalize o sistema do seu jeito.
            </span>
        <div class="footer">
          <div class="btn">
            <tgt-button icon="trending_flat" iconPosition="left" size="small"
                        color="secundary"
                        [routerLink]="'/admin/central-custo'"></tgt-button>
          </div>
        </div>
      </div>
      <div class="card configuracoes col-3">
            <span class="material-symbols-outlined icon">
                settings
            </span>
        <span class="title">Configurações</span>
        <span class="text">
                Personalize o sistema do seu jeito.
            </span>
        <div class="footer">
          <div class="btn">
            <tgt-button icon="trending_flat" iconPosition="left" size="small"
                        color="secundary"
                        [routerLink]="'/admin/settings'"></tgt-button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
