<main>
    <span class="intro-text">
        Confira tudo que você irá encontrar por aqui:
    </span>

    <div class="cards grid col-12">

        <div class="card dashboard col-3">
            <span class="material-symbols-outlined icon">
                dashboard
            </span>
            <span class="title">dashboard</span>
            <span class="text">
                Gerencie seus gastos através do painel de controle.
            </span>
            <div class="footer">
                <div class="btn">
                    <tgt-button icon="trending_flat" iconPosition="left" size="small" color="secundary" [routerLink]="'/admin/dashboard'"></tgt-button>
                </div>
            </div>
        </div>
        <div class="card viajar col-3">
            <span class="material-symbols-outlined icon">
                luggage
            </span>
            <span class="title">Viajar</span>
            <span class="text">
                Encontre as melhores tarifas para viajar.
            </span>
            <div class="footer">
                <div class="btn">
                    <tgt-button icon="trending_flat" iconPosition="left" size="small" color="secundary" [routerLink]="'/admin/viajar'"></tgt-button>
                </div>
            </div>
        </div>
        <div class="card reservas col-3">
            <span class="material-symbols-outlined icon">
                date_range
            </span>
            <span class="title">Reservas</span>
            <span class="text">
                Acompanhe o andamento de suas reservas.
            </span>
            <div class="footer">
                <div class="btn">
                    <tgt-button icon="trending_flat" iconPosition="left" size="small" color="secundary" [routerLink]="'/admin/reservas'"></tgt-button>
                </div>
            </div>
        </div>
        <div class="card aprovacoes col-3">
            <span class="material-symbols-outlined icon">
                task_alt
            </span>
            <span class="title">Aprovações</span>
            <span class="text">
                Controle os voos de seus viajantes.
            </span>
            <div class="footer">
                <div class="btn">
                    <tgt-button icon="trending_flat" iconPosition="left" size="small" color="secundary" [routerLink]="'/admin/aprovacoes'"></tgt-button>
                </div>
            </div>
        </div>
        <div class="card pessoas col-3">
            <span class="material-symbols-outlined icon">
                person_4
            </span>
            <span class="title">Pessoas</span>
            <span class="text">
                Gerencie o acesso da sua equipe.
            </span>
            <div class="footer">
                <div class="btn">
                    <tgt-button icon="trending_flat" iconPosition="left" size="small" color="secundary" [routerLink]="'/admin/viajantes'"></tgt-button>
                </div>
            </div>
        </div>
        <div class="card configuracoes col-3">
            <span class="material-symbols-outlined icon">
                calculate
            </span>
            <span class="title">Central de custo</span>
            <span class="text">
                Personalize o sistema do seu jeito.
            </span>
            <div class="footer">
                <div class="btn">
                    <tgt-button icon="trending_flat" iconPosition="left" size="small" color="secundary" [routerLink]="'/admin/central-custo'"></tgt-button>
                </div>
            </div>
        </div>
        <div class="card configuracoes col-3">
            <span class="material-symbols-outlined icon">
                settings
            </span>
            <span class="title">Configurações</span>
            <span class="text">
                Personalize o sistema do seu jeito.
            </span>
            <div class="footer">
                <div class="btn">
                    <tgt-button icon="trending_flat" iconPosition="left" size="small" color="secundary" [routerLink]="'/admin/settings'"></tgt-button>
                </div>
            </div>
        </div>
    </div>
</main>