@import '../../../../../assets/styles/space.scss';
@import '../../../../../assets/styles/colors.scss';
main {
    padding: 24px;
    .intro-text {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;

    }

    .cards {
        height: 70vh;
        overflow: auto;
        justify-content: start;
        gap: 24px;
        .card {
            // width: 180px;
            height: 264px;
            
            padding: 24px;
            gap: 32px;
            border-radius: 16px;
            opacity: 0px;
            background-color: $color-off-white;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            gap: 32px;
            .footer {
                width: 100%;
                display: flex;
                justify-content: end;
                .btn {
                    align-items: end;
                    width: 48px;
                }
            }

        }
    }
    
}