<main>
  <p>Olá Colaboradores</p>
  <tgt-button
    [icon]="'edit'"
    [color]="'error'"
    [border]="false"
    [fieldButton]="'field'"
    [disabled]="true"
    >Editar</tgt-button
  >
  <br />
  <br />
  <div class="chips">
    <tgt-chips [label]="'Língua Portuguesa'"></tgt-chips>
    <tgt-chips [label]="'Matemática'"></tgt-chips>
    <tgt-chips [label]="'Inglês'"></tgt-chips>
    <tgt-chips [label]="'Língua Portuguesa'"></tgt-chips>
    <tgt-chips [label]="'Matemática'"></tgt-chips>
    <tgt-chips [label]="'Inglês'"></tgt-chips>
    <tgt-chips [label]="'Língua Portuguesa'"></tgt-chips>
    <tgt-chips [label]="'Matemática'"></tgt-chips>
    <tgt-chips [label]="'Inglês'"></tgt-chips>

  </div>
</main>
