<sidebar [title]="'Detalhe do atendimento'">
  <main>

    <div class="content-cards">
      @for (menssagem of menssagens; track menssagem) {
        <div class="card">
          <div class="label">
            <div class="left">
              <tgt-perfil [nome]="menssagem.user.nome"></tgt-perfil>
              @if(usuario?.email == menssagem.user.email) {

                <span class="name">Você</span>
              } @else {
                <span class="name">{{ menssagem.user.nome }}</span>
              }
            </div>
            <div class="right">
              <span>{{ menssagem.createdAt | date: 'dd/MM/yyyy hh:mm' }}</span>
            </div>
          </div>
          <div class="container">
            <span class="texto">{{ menssagem.menssagem }}</span>
          </div>
        </div>
      }
    </div>
    @if(data.status != StatusChamado.FECHADO) {
      <div class="end">
        <div class="input-messagem">
          <tgt-textarea [linhas]="5" [control]="textAreaControl"></tgt-textarea>
          <div class="btn">
            <tgt-button icon="send" color="secundary" size="small" (click)="responderChamado()"></tgt-button>
          </div>
        </div>
        <tgt-button size="small"
                    (click)="finalizarAtendimento()"
        >Finalizar atendimento</tgt-button>
      </div>
    } @else {
      <div class="avaliacao">
        @if(nota == null || nota == 0) {
          <span>Por favor, avalie nosso atendimento!</span>
        } @else {
          <span>Obrigado por avaliar nosso atendimento!</span>
        }



        <tgt-avaliacao-stars [control]="notaAvalicao"></tgt-avaliacao-stars>
        @if(nota == null || nota == 0) {
          <div class="btn">
            <tgt-button size="small" color="secundary"
                        (click)="avaliar()"
            >Enviar avaliação</tgt-button>
          </div>
        }


      </div>
    }

  </main>
</sidebar>
