<sidebar [title]="'Detalhe do atendimento'">
  <main>

    <div class="content-cards">
      @for (menssagem of menssagens; track menssagem; let i = $index) {
        <div class="card">

          <div class="label">
            @if(usuario?.email != menssagem.user.email) {
              <tgt-perfil [nome]="menssagem.user.nome" size="small" border="none"></tgt-perfil>
            }

              @if(usuario?.email == menssagem.user.email) {
              } @else {
                <span class="name">{{ menssagem.user.nome }}</span>
              }
          </div>

          <div class="container" [style.border-radius]="usuario?.email == menssagem.user.email ? '12px 12px 0px 12px' : '12px 12px 12px 0px'"
               [style.width]="usuario?.email == menssagem.user.email ? '60%' : '88%'"
               [style.background-color]="usuario?.email == menssagem.user.email ? '#FFD200' : '#F3F4F3'"
          >
            <span class="texto">{{ menssagem.menssagem }}</span>
          </div>

          <div class="time" [style.width]="usuario?.email == menssagem.user.email ? 'auto' : '93%'">
            <span>{{ menssagem.createdAt | date: 'dd/MM/yyyy hh:mm' }}</span>
          </div>



        </div>
      }
    </div>
    @if(data.status != StatusChamado.FECHADO) {
      <div class="end">
        <div class="input-messagem">
          <tgt-textarea [linhas]="5" [control]="textAreaControl"></tgt-textarea>
          <div class="btn">
            <tgt-button icon="send" color="secundary" size="small" (click)="responderChamado()"></tgt-button>
          </div>
        </div>
        <tgt-button size="small"
                    (click)="finalizarAtendimento()"
        >Finalizar atendimento</tgt-button>
      </div>
    } @else {
      <div class="avaliacao">
        @if(nota == null || nota == 0) {
          <span>Por favor, avalie nosso atendimento!</span>
        } @else {
          <span>Obrigado por avaliar nosso atendimento!</span>
        }



        <tgt-avaliacao-stars [control]="notaAvalicao"></tgt-avaliacao-stars>
        @if(nota == null || nota == 0) {
          <div class="btn">
            <tgt-button size="small" color="secundary"
                        (click)="avaliar()"
            >Enviar avaliação</tgt-button>
          </div>
        }


      </div>
    }

  </main>
</sidebar>
