<main>
    <div class="title">
        <h2>{{title | async}}</h2>
    </div>


    <div class="final">

        <span class="material-symbols-outlined pointer">
            notifications
        </span>
        <div class="divider-vertical"></div>
        <div class="user pointer" (click)="showHideDetail()">
          <!-- <img src="assets/images/3d_avatar_21.png" alt="avatar"> -->
          <tgt-perfil></tgt-perfil>
            <label>{{nameUser}}</label>
            @if(isDetail) {
                <span class="material-symbols-outlined">
                    expand_less
                </span>
            } @else {
                <span class="material-symbols-outlined">
                    keyboard_arrow_down
                </span>

            }
        </div>
    </div>
    @if(isDetail) {

        <div class="user-detail">
            <div class="item perfil" (click)="visualizarPerfil()">
                <span class="material-symbols-outlined">
                    person_4
                </span>
                <span class="label" >Perfil</span>
            </div>
            <div class="item logout" (click)="logout()">
                <span class="material-symbols-outlined">
                    logout
                </span>
                <span class="label">Sair</span>
            </div>
        </div>
    }

</main>
