<div class="corpo">
  <div class="header">
    <div class="logo">
      <img src="../assets/images/logo.png" alt="" />
    </div>
    <div class="content">
      <span>Quem somos</span>
      <span>Plataforma</span>
      <span>Contato</span>
    </div>
    <div class="actions">
      <tgt-button [fieldButton]="'outline'" [border]="false" [icon]="'person'">Login</tgt-button>
      <tgt-button [fieldButton]="'field'" [size]="'small'">Solicitar Demonstração</tgt-button>
    </div>
  </div>

  <div class="info-camera">
    <div class="text">
      <span>Transforme a Gestão Escolar com Tecnologia, Segurança e
        Conectividade</span>
      <p>
        A <strong>escolar ai</strong> é uma plataforma inteligente que oferece
        segurança, controle e gerenciamento centralizado das informações de
        alunos, professores e da instituição.
      </p>
      <tgt-button [color]="'dark'" [fieldButton]="'field'" [size]="'small'">Solicitar Demonstração</tgt-button>
    </div>
    <div class="img">
      <img src="../assets/images/imagem cam.png" alt="" />
    </div>
  </div>

  <div class="cards">
    <img src="../assets/images/card-1.png" alt="" />
    <img src="../assets/images/card-2.png" alt="" />
    <img src="../assets/images/card-3.png" alt="" />
  </div>

  <div class="quemSomos">
    <img src="../assets/images/img-quemsomos.png" alt="" />
    <div class="text">
      <span>Quem Somos</span>
      <p>
        Somos uma empresa focada em transformar a gestão escolar por meio de
        soluções tecnológicas inovadoras. Nosso produto oferece ferramentas para
        monitoramento em tempo real, gestão administrativa e comunicação
        contínua, promovendo mais segurança e eficiência nas escolas. Nossa
        missão é simplificar o cotidiano escolar, conectando alunos, pais e
        educadores de maneira mais eficiente. Estamos sempre em busca de novas
        soluções para atender às necessidades da educação atual e futura.
      </p>
    </div>
  </div>

  <div class="infos">
    <div class="div">
      <div class="img">
        <img src="../assets/images/imagem mulher.png" alt="" />
      </div>
      <div class="text">
        <span>Notificação em Tempo Real</span>
        <p>
          <strong>
            Com nossa tecnologia de reconhecimento facial, os pais recebem uma
            notificação instantânea assim que seu filho entra na escola.
          </strong>
          Acompanhando o momento em que o aluno é reconhecido pelas câmeras,
          garantimos maior segurança e tranquilidade para as famílias, mantendo
          todos informados e conectados com o dia a dia escolar.
        </p>
        <tgt-button [color]="'dark'" [fieldButton]="'field'" [size]="'small'">Solicitar Demonstração</tgt-button>
      </div>
    </div>
  </div>

  <div class="principaisFuncionalidades">
    <span>Principais Funcionalidades</span>
    <p>Confira tudo o que a <strong>escolar ai</strong> tem para oferecer:</p>

    <div class="info-cards">
      <img src="../assets/images/info-card-1.png" alt="">
      <img src="../assets/images/info-card-2.png" alt="">
      <img src="../assets/images/info-card-3.png" alt="">
    </div>
    <div class="info-cards">
      <img src="../assets/images/info-card-4.png" alt="">
      <img src="../assets/images/info-card-5.png" alt="">
      <img src="../assets/images/info-card-6.png" alt="">
    </div>
    <tgt-button [fieldButton]="'field'" [size]="'small'">Solicitar Demonstração</tgt-button>
  </div>

  <div class="gestao">
    <div class="img">
      <img src="../assets/images/main.png" alt="">
    </div>
    <div class="text">
      <span>Transforme a gestão da sua escola com a <strong>escolar ai</strong></span>
      <p>Com a escolar ai, você tem a segurança, o controle e a comunicação de qualidade que sua escola precisa. Conheça
        nossas funcionalidades e faça a gestão de sua instituição de ensino mais eficiente, segura e conectada!</p>
    </div>
    <tgt-button [fieldButton]="'field'" [size]="'small'">Solicitar Demonstração</tgt-button>
  </div>

  <footer>
    <div class="content">
      <img src="../assets/images/escolar ai-logo.png" alt="">
      <div class="navegacao">
        <p>Navegue</p>
        <p>Quem somos</p>
        <p>Plataforma</p>
      </div>

      <div class="navegacao">
        <p>Endereço</p>
        <p>contatoescolarai.com</p>
        <p>(00) 00000-0000</p>
      </div>

      <tgt-button [fieldButton]="'field'" [size]="'small'">Solicitar Demonstração</tgt-button>

    </div>
  </footer>
</div>
