@import "../../../../../assets/styles/colors.scss";

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .tab-central-custo {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
        }


        .input-box {
            width: 500px;
        }
    }
}

.line {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #CDCDCC;
    transition: all .5s;
    

    span {
        padding: .5rem;
        width: 10%;
        font-size: 14px;
    }

    &:hover {
        background-color: #FFFAE5;
    }
}
