<main>
    <app-tabs [tabs]="tabs" (change)="chosenTab($event)"></app-tabs>
        @if(opcaoSelecionada == 'central_de_custo') {
            <div class="tab-central-custo">
                <div class="header">
                    <tgt-button icon="keyboard_arrow_down" iconPosition="right" size="small" fieldButton="outline">Todos</tgt-button>
                    <div class="input-box">
                        <tgt-input-icon icon="search" iconPosition="right" placeholder="Busque uma central..."></tgt-input-icon>
                    </div>
                    <tgt-button icon="add" iconPosition="left" size="middle" color="secundary" (click)="adicionarCentralCusto()">Adicionar</tgt-button>
                </div>
                <div class="body">
                    <tgt-list>
                        <div header class="header-list">
                            <tgt-header-list>
                                <tgt-header-col >Nome</tgt-header-col>
                                <tgt-header-col >Período</tgt-header-col>
                                <tgt-header-col >Status</tgt-header-col>
                                <tgt-header-col >Orçamento</tgt-header-col>
                                <tgt-header-col ></tgt-header-col>

                            </tgt-header-list>
                        </div>
                        <div body>
                            <tgt-item-list>
                                <tgt-item-data >Supervisor</tgt-item-data>
                                <tgt-item-data >01/03/24 a 30/06/24 </tgt-item-data>
                                <tgt-item-data >Ativa</tgt-item-data>
                                <tgt-item-data >{{10000000 | currency: 'R$ '}}</tgt-item-data>
                                <tgt-item-data >
                                    <div class="w-button">
                                        <tgt-button icon="trending_flat" iconPosition="left" size="middle" color="secundary"></tgt-button>
                                    </div>
                                </tgt-item-data>
                            </tgt-item-list>
                            <tgt-item-list>
                                <tgt-item-data >Teste de inincio de header</tgt-item-data>
                                <tgt-item-data >Teste</tgt-item-data>
                                <tgt-item-data >Teste</tgt-item-data>
                                <tgt-item-data >Teste</tgt-item-data>
                                <tgt-item-data >
                                    <div class="w-button">
                                        <tgt-button icon="trending_flat" iconPosition="left" size="middle" color="secundary"></tgt-button>
                                    </div>
                                </tgt-item-data>
                            </tgt-item-list>
                        </div>
                    </tgt-list>

                    <!-- <tgt-table [headers]="headers">
                        @for(item of data; track item) {
                            <div class="line">
                                <span>{{item.nome}}</span>
                                <span>{{item.createdAt}}</span>
                                <span>{{item.updatedAt}}</span>
                                <span>{{item.orcamento | currency: 'R$ '}}</span>
                                <span>{{item.status}}</span>
                                <span>Teste</span>
                            </div>
                        }
                    </tgt-table>
                -->
                <div class="pag">
                    <tgt-paginator></tgt-paginator>
                </div> 
                </div>

            </div>
        }

    
</main>
