<main>
    <app-tabs [tabs]="tabs" (change)="chosenTab($event)"></app-tabs>
        @if(opcaoSelecionada == 'central_de_custo') {
            <div class="tab-central-custo">
                <tgt-button icon="keyboard_arrow_down" iconPosition="right" size="small" fieldButton="outline">Todos</tgt-button>
                <div class="input-box">
                    <tgt-input-icon icon="search" iconPosition="right" placeholder="Busque uma central..."></tgt-input-icon>
                </div>
                <tgt-button icon="add" iconPosition="left" size="middle" color="secundary">Adicionar</tgt-button>
            </div>
        }

    
</main>
