main {
  .body {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    justify-content: space-between;
    gap: 16px;
  }

  .pag-footer {
    position: absolute;
    bottom: 20px;
    right: 70px;
  }
}
