<main>
  <div class="header">
    <div class="filtros">
      <tgt-select [label]="'Status'" [options]="optionStatus" [control]="selectStatus" class="col-6"></tgt-select>
      <tgt-select [label]="'Central de Custo'" [options]="optionCentral" [control]="selecCentral" class="col-6"></tgt-select>
    </div>

    <div class="refresh">
      <tgt-button [border]="false" [color]="'success'" [fieldButton]="'outline'" [icon]="'refresh'">Refresh</tgt-button>
    </div>

  </div>
  <tgt-table>
    <tgt-header-table header>
      <tgt-header-table-data>Nome</tgt-header-table-data>
      <tgt-header-table-data>Data de Criaçào</tgt-header-table-data>
      <tgt-header-table-data>Data de finalização</tgt-header-table-data>
      <tgt-header-table-data>Orçamento</tgt-header-table-data>
      <tgt-header-table-data>Status</tgt-header-table-data>
      <tgt-header-table-data>Ações</tgt-header-table-data>
    </tgt-header-table>
    @for (item of data; track item) {
    <tgt-item-table body>
      <tgt-table-data>{{ item.nome }}</tgt-table-data>
      <tgt-table-data>{{ item.createdAt }}</tgt-table-data>
      <tgt-table-data>{{ item.updatedAt }}</tgt-table-data>
      <tgt-table-data>{{ item.orcamento }}</tgt-table-data>
      <tgt-table-data>
        <tgt-status-circle [status]="item.status"></tgt-status-circle>
        {{ item.status }}
      </tgt-table-data>
      <tgt-table-data><tgt-button icon="chat" iconPosition="left" size="small" color="secundary"
          (click)="openHistoricoSolicitacoes()"></tgt-button></tgt-table-data>
    </tgt-item-table>
    }
  </tgt-table>
</main>
