<main>
  @if(inputs) {
  <div class="inputs">
    <tgt-input [label]="'Origem'" [control]="formInputs.controls.origem"></tgt-input>
    <tgt-button [border]="false" [color]="'primary'" [icon]="'swap_horiz'" [type]="'button'"
      [size]="'small'"></tgt-button>
    <tgt-input [label]="'Destino'" [control]="formInputs.controls.destino"></tgt-input>
    <tgt-input [label]="'Check in'" [control]="formInputs.controls.checkIn" [type]="'date'"></tgt-input>
    <tgt-input [label]="'Check out'" [control]="formInputs.controls.checkOut" [type]="'date'"></tgt-input>
    <tgt-button [border]="false" [color]="'secundary'" [icon]="'search'" [type]="'button'" [size]="'small'"
      [disabled]="!formInputs.valid" (click)="pesquisarVoos()"></tgt-button>
  </div>
  } @else {
  <div class="informacoes-viagem">
    <p>{{formInputs.controls.origem.value}}</p>
    <span class="material-symbols-outlined">swap_horiz</span>
    <p>{{formInputs.controls.destino.value}}</p>
    <img src="../../../../../../../assets/images/voos/Divider.png" alt="" srcset="">
    <p>{{formInputs.controls.checkIn.value | date: 'dd/MM'}} - {{formInputs.controls.checkOut.value | date: 'dd/MM'}}
    </p>
    <span class="material-symbols-outlined">search</span>
    <span>Buscar</span>
  </div>
  }
  <div class="filtros">
    <div class="filtro-select">
      <tgt-select [label]="'Ida e Volta'"></tgt-select>
      <tgt-select [label]="'Econômica'"></tgt-select>
      <tgt-select [label]="'Escalas'"></tgt-select>
      <tgt-select [label]="'Preço'"></tgt-select>
      <tgt-select [label]="'Companhias aéreas'"></tgt-select>
    </div>
    <div class="filtro-button">
      <tgt-button [border]="false" [color]="'success'" [fieldButton]="'outline'" [icon]="'tune'" [type]="'button'"
        [size]="'small'">Filtros</tgt-button>
    </div>
  </div>

  <div class="informacoesVoo">
    <div class="tipoVoo">
      <span class="material-symbols-outlined">
        airplane_ticket
      </span>
      <span>Escolha um voo de ida:</span>
    </div>
  </div>
  <div class="voos">
    @for (vooIda of voosIda; track vooIda) {
    <div class="card-voo">
      <div class="vooIda">
        <img src="../../../../../../../assets/images/voos/latam.png" alt="" srcset="">
        <div class="voo">
          <div class="vooOrigem">
            <div class="infoAeroporto">
              <span>{{vooIda.origem[0].siglaAeroporto}}</span>
              <span>{{vooIda.origem[0].horaSaida}}</span>
            </div>
            <span>{{vooIda.origem[0].cidade}}</span>
          </div>
          <img class="vetor" src="../../../../../../../assets/images/voos/vector.png" alt="">
          <div class="duracao">
            <span>{{vooIda.duracao}}</span>
            <span class="label">Duração</span>
          </div>
          <img class="vetor" src="../../../../../../../assets/images/voos/vector.png" alt="">
          <div class="vooDestino">
            <div class="infoAeroporto">
              <span>{{vooIda.destino[0].siglaAeroporto}}</span>
              <span>{{vooIda.destino[0].horaChegada}}</span>
            </div>
            <span>{{vooIda.destino[0].cidade}}</span>
          </div>
        </div>
        <div class="parada">
          <span class="material-symbols-outlined">airplanemode_active</span>
          @if(vooIda.paradas.length > 0) {
          <span>{{vooIda.paradas.length}} Paradas</span>
          } @else {
          <span>Direto</span>
          }
        </div>
        <div class="tarifa">
          <span>Tarifa a partir de</span>
          <p>{{vooIda.tarifa}}</p>
        </div>
        <div >
          <span class="expandir" class="material-symbols-outlined painel">keyboard_arrow_down</span>
        </div>
      </div>
    </div>
    @if(panel) {
    <div class="ofertas">
      <div class="servicos">
        <div class="aviao">
          <span>{{vooIda.nomeAviao}}</span>
          inclui:
        </div>
        @for(item of vooIda.servicos; track item) {
        <tgt-chips [label]="item.servico"> </tgt-chips>
        }
      </div>
      <div class="cards">
        <div>
          <span>4 tarifas disponíveis:</span>
        </div>
        <div class="card">
          <div class="light">
            <div class="header">
              <div class="title">
                <img src="../../../../../../../assets/images/voos/cards/light.png" alt="">
                <span>Light</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Bolsa ou mochila pequena</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Bagagem de mão 10 kg</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Remarcação com taxa</span>
              </div>
            </div>

            <div class="footer">

              <a href="#">Mais detalhes</a>

              <div class="preco">
                <div>
                  <span>{{vooIda.tarifa}}</span>
                  <p>por passageiro</p>
                </div>
                <tgt-button [border]="true" [color]="'success'" [fieldButton]="'outline'" [type]="'button'" [size]="'small'">Escolher</tgt-button>
              </div>
            </div>
          </div>
          <div class="standart">
            <div class="header">
              <div class="title">
                <img src="../../../../../../../assets/images/voos/cards/standart.png" alt="">
                <span>Standart</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Bolsa ou mochila pequena</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Bagagem de mão 10 kg</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>1 bagagem despachada 23 kg</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Remarcação com taxa</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Solicitação de UPG com trechos</span>
              </div>
            </div>

            <div class="footer">

              <a href="#">Mais detalhes</a>

              <div class="preco">
                <div>
                  <p class="label-preco">R$ 5.758,64</p>
                  <span>+R$ 364,30</span>
                  <p>por passageiro</p>
                </div>
                <tgt-button [border]="true" [color]="'success'" [fieldButton]="'outline'" [type]="'button'" [size]="'small'">Escolher</tgt-button>
              </div>
            </div>
          </div>
          <div class="full">
            <div class="header">
              <div class="title">
                <img src="../../../../../../../assets/images/voos/cards/full.png" alt="">
                <span>Full</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Bolsa ou mochila pequena</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Bagagem de mão 10 kg</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>1 bagagem despachada 23 kg</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Remarcação com taxa</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Seleção de assento Comum</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Reembolso total</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Solicitação de UPG com trechos</span>
              </div>
            </div>

            <div class="footer">

              <a href="#">Mais detalhes</a>

              <div class="preco">
                <div>
                  <p class="label-preco">R$ 5.758,64</p>
                  <span>+R$ 598,30</span>
                  <p>por passageiro</p>
                </div>
                <tgt-button [border]="true" [color]="'success'" [fieldButton]="'outline'" [type]="'button'" [size]="'small'">Escolher</tgt-button>
              </div>
            </div>
          </div>
          <div class="premium">
            <div class="header">
              <div class="title">
                <img src="../../../../../../../assets/images/voos/cards/premium.png" alt="">
                <span>Premium</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Bolsa ou mochila pequena</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Bagagem de mão 10 kg</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>2 bagagem despachada 23 kg</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Remarcação com taxa</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Poltrona-cama</span>
              </div>
              <div class="benecicios">
                <span class="material-symbols-outlined painel">check_circle_outline</span>
                <span>Reembolso total</span>
              </div>
            </div>

            <div class="footer">

              <a href="#">Mais detalhes</a>

              <div class="preco">
                <div>
                  <p class="label-preco">R$ 5.758,64</p>
                  <span>+R$ 33.390,79</span>
                  <p>por passageiro</p>
                </div>
                <tgt-button [border]="false" [color]="'secundary'" [type]="'button'" [size]="'small'">Escolher</tgt-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }




    } @empty {
    <div class="voosEmpty">
      <h2>Qual seu próximo <label>destino</label>?</h2>

      <svg width="1095" height="329" viewBox="0 0 1095 329" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.5">
          <path
            d="M70.4664 193.342L21.9998 298.608L906.741 308.814L838.143 171.448C827.295 149.724 805.099 135.999 780.818 135.999H724.206C707.224 135.999 690.937 129.258 678.922 117.256L580.302 18.7428C568.288 6.7413 552 0 535.018 0H483.16C466.178 0 449.891 6.74129 437.876 18.7428L384.638 71.9231C372.623 83.9247 356.336 90.666 339.354 90.666H280.8C263.818 90.666 247.531 97.4073 235.516 109.409L207.573 137.322C195.559 149.323 179.271 156.064 162.289 156.064H128.669C103.655 156.064 80.9279 170.621 70.4664 193.342Z"
            fill="url(#paint0_radial_1978_34124)" />
          <path d="M242.654 192L0.251953 347.934H493.917L242.654 192Z" fill="#CDCDCC" />
          <path d="M493.917 347.934L242.374 192L169.117 288.299L270.31 263.702L199.984 347.934H493.917Z"
            fill="#838280" />
          <path d="M548.615 92L22.3511 347.58H1094.11L548.615 92Z" fill="#E6E6E5" />
          <path d="M1094.12 348.065L548.615 92.4851L389.748 250.321L609.197 210.006L456.686 348.065H1094.12Z"
            fill="#838280" />
          <path d="M629.968 222L434.627 347.508H832.45L629.968 222Z" fill="#CDCDCC" />
          <path d="M832.449 347.508L629.801 222L570.783 299.509L652.306 279.711L595.65 347.508H832.449Z"
            fill="#9C9B99" />
          <path
            d="M705.488 41.8764C707.658 39.1248 712.287 40.1732 714.602 40.3042C706.356 40.304 705.922 46.2001 705.488 46.2001C704.099 41.4834 699.412 40.3042 697.242 40.3042C702.45 39.9113 704.33 40.5662 705.488 41.8764Z"
            fill="#201F1A" />
          <path
            d="M711.284 72.1263C712.369 70.4754 714.684 71.1044 715.842 71.183C711.718 71.1829 711.501 74.7205 711.284 74.7205C710.59 71.8905 708.246 71.183 707.161 71.183C709.765 70.9472 710.706 71.3402 711.284 72.1263Z"
            fill="#201F1A" />
          <path
            d="M646.958 80.5779C650.368 75.6251 657.643 77.5122 661.28 77.748C648.322 77.7477 647.64 88.3606 646.958 88.3606C644.776 79.8705 637.41 77.748 634 77.748C642.184 77.0407 645.14 78.2196 646.958 80.5779Z"
            fill="#201F1A" />
        </g>
        <defs>
          <radialGradient id="paint0_radial_1978_34124" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
            gradientTransform="translate(838.796 -823.795) rotate(112.361) scale(1263.17 1263.17)">
            <stop stop-color="white" />
            <stop offset="1" stop-color="#B3B3B3" stop-opacity="0" />
          </radialGradient>
        </defs>
      </svg>


    </div>
    }

  </div>
</main>
