<sidebar title="Adicionar cartão">
    <main>
        <form [formGroup]="group" class="dados-cartao">
            <tgt-credit-card [group]="group"></tgt-credit-card>
            <tgt-input label="Número do cartão" mask="0000 0000 0000 0000" [control]="group.controls.numberCard"></tgt-input>

            <tgt-input label="Nome no cartão" [control]="group.controls.name"></tgt-input>
    
            <section class="grid">
                <tgt-input class="col-6" label="validade" mask="00/00" [control]="group.controls.mouth"></tgt-input>
    
                <tgt-input class="col-6" label="Código de segurança" mask="000" [control]="group.controls.cvc"></tgt-input>
            </section>
        </form>

        <div class="footer-button">
            <tgt-button fieldButton="outline" (click)="cancel()">Cancelar</tgt-button>
            <tgt-button [color]="'secundary'" icon="add">Adicionar</tgt-button>
        </div>
        
    </main>
</sidebar>