<main>
  <div class="content">
    <img src="assets/images/EmpresaNaoPermitida.png" alt="sending">


    <div class="card">
      <h2>Desculpe!</h2>
      <div class="content-card">
        <p>Agradecemos seu interesse em fazer parte da <span>Togo Trip.</span> No momento,
          esta empresa não está liberada para realizar um cadastro. Por favor,
          entre em contato conosco através do e-mail <span>{{'contato@togotrip.com.br'}}</span></p>
      </div>
      <p>
        Estamos à disposição para ajudar no que for necessário.
      </p>
    </div>

  </div>
</main>
