<main>

  @if(mostrarLabel) {
  <div class="informacoesVoo">
    <div class="tipoVoo">
      <span class="material-symbols-outlined">
        airplane_ticket
      </span>
      <span>Escolha um voo de ida:</span>
    </div>
  </div>
  }

  @for(vooIda of vooIda; track vooIda) {
  <div class="card-voo">
    <div class="vooIda">
      <img src="../../../../../../../../../assets/images/voos/latam.png" alt="" srcset="">
      <div class="voo">
        <div class="vooOrigem">
          <div class="infoAeroporto">
            <span>{{vooIda.origem[0].siglaAeroporto}}</span>
            <span>{{vooIda.origem[0].horaSaida}}</span>
          </div>
          <span>{{vooIda.origem[0].cidade}}</span>
        </div>
        <img class="vetor" src="../../../../../../../assets/images/voos/vector.png" alt="">
        <div class="duracao">
          <span>{{vooIda.duracao}}</span>
          <span class="label">Duração</span>
        </div>
        <img class="vetor" src="../../../../../../../assets/images/voos/vector.png" alt="">
        <div class="vooDestino">
          <div class="infoAeroporto">
            <span>{{vooIda.destino[0].siglaAeroporto}}</span>
            <span>{{vooIda.destino[0].horaChegada}}</span>
          </div>
          <span>{{vooIda.destino[0].cidade}}</span>
        </div>
      </div>
      <div class="parada">
        <span class="material-symbols-outlined">airplanemode_active</span>
        @if(vooIda.paradas.length > 0) {
        <span>{{vooIda.paradas.length}} Paradas</span>
        } @else {
        <span>Direto</span>
        }
      </div>
      <div class="tarifa">
        <span>Tarifa a partir de</span>
        <p>{{vooIda.tarifa}}</p>
      </div>

      @if(mostrarLabel) {
      <div class="expandir" (click)="abriTarifas()">
        <span class="material-symbols-outlined">
          @if(panel){
          keyboard_arrow_up
          } @else {
          keyboard_arrow_down
          }
        </span>
      </div>
      } @else {
        <tgt-button [border]="true" [color]="'success'" [fieldButton]="'outline'" [size]="'small'" [icon]="'swap_horiz'" [iconPosition]="'left'">Alterar Voo</tgt-button>
      }
    </div>
  </div>
  @if(panel) {
  <div class="ofertas">
    <div class="servicos">
      <div class="aviao">
        <span>{{vooIda.nomeAviao}}</span>
        inclui:
      </div>
      @for(item of vooIda.servicos; track item) {
      <tgt-chips [label]="item.servico"> </tgt-chips>
      }
    </div>
    <div class="cards">
      <div>
        <span>4 tarifas disponíveis:</span>
      </div>
      <div class="card">
        <div class="light">
          <div class="header">
            <div class="title">
              <img src="../../../../../../../assets/images/voos/cards/light.png" alt="">
              <span>Light</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Bolsa ou mochila pequena</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Bagagem de mão 10 kg</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Remarcação com taxa</span>
            </div>
          </div>

          <div class="footer">

            <a href="#">Mais detalhes</a>

            <div class="preco">
              <div>
                <span>{{vooIda.tarifa}}</span>
                <p>por passageiro</p>
              </div>
              @if(mostrarLabel) {
              <tgt-button (click)="selecionarVoo(vooIda)" [border]="true" [color]="'success'" [fieldButton]="'outline'"
                [type]="'button'" [size]="'small'">Escolher</tgt-button>
              }
            </div>
          </div>
        </div>
        <div class="standart">
          <div class="header">
            <div class="title">
              <img src="../../../../../../../assets/images/voos/cards/standart.png" alt="">
              <span>Standart</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Bolsa ou mochila pequena</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Bagagem de mão 10 kg</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>1 bagagem despachada 23 kg</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Remarcação com taxa</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Solicitação de UPG com trechos</span>
            </div>
          </div>

          <div class="footer">

            <a href="#">Mais detalhes</a>

            <div class="preco">
              <div>
                <p class="label-preco">R$ 5.758,64</p>
                <span>+R$ 364,30</span>
                <p>por passageiro</p>
              </div>
              @if(mostrarLabel) {
              <tgt-button (click)="selecionarVoo(vooIda)" [border]="true" [color]="'success'" [fieldButton]="'outline'"
                [type]="'button'" [size]="'small'">Escolher</tgt-button>
              }
            </div>
          </div>
        </div>
        <div class="full">
          <div class="header">
            <div class="title">
              <img src="../../../../../../../assets/images/voos/cards/full.png" alt="">
              <span>Full</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Bolsa ou mochila pequena</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Bagagem de mão 10 kg</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>1 bagagem despachada 23 kg</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Remarcação com taxa</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Seleção de assento Comum</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Reembolso total</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Solicitação de UPG com trechos</span>
            </div>
          </div>

          <div class="footer">

            <a href="#">Mais detalhes</a>

            <div class="preco">
              <div>
                <p class="label-preco">R$ 5.758,64</p>
                <span>+R$ 598,30</span>
                <p>por passageiro</p>
              </div>
              @if(mostrarLabel) {
              <tgt-button (click)="selecionarVoo(vooIda)" [border]="true" [color]="'success'" [fieldButton]="'outline'"
                [type]="'button'" [size]="'small'">Escolher</tgt-button>
              }
            </div>
          </div>
        </div>
        <div class="premium">
          <div class="header">
            <div class="title">
              <img src="../../../../../../../assets/images/voos/cards/premium.png" alt="">
              <span>Premium</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Bolsa ou mochila pequena</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Bagagem de mão 10 kg</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>2 bagagem despachada 23 kg</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Remarcação com taxa</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Poltrona-cama</span>
            </div>
            <div class="benecicios">
              <span class="material-symbols-outlined painel">check_circle_outline</span>
              <span>Reembolso total</span>
            </div>
          </div>

          <div class="footer">

            <a href="#">Mais detalhes</a>

            <div class="preco">
              <div>
                <p class="label-preco">R$ 5.758,64</p>
                <span>+R$ 33.390,79</span>
                <p>por passageiro</p>
              </div>
              @if(mostrarLabel) {
              <tgt-button (click)="selecionarVoo(vooIda)" [border]="false" [color]="'secundary'" [type]="'button'"
                [size]="'small'">Escolher</tgt-button>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
  }
</main>
