<tgt-modal [witdhModal]="'40%'">
  <main>

    <h3>Vincular Aluno</h3>
    <tgt-divider></tgt-divider>
    <span>Selecione os alunos que deseja vincular:</span>
    <tgt-input-icon [border]="true" [placeholder]="'Busque aqui'" [icon]="'search'"></tgt-input-icon>

    <div class="lista-alunos">

      <div class="aluno">
        <tgt-checkbox></tgt-checkbox>
        <img src="assets/images/avatar.png" alt="">
        <p>Nome e Sobrenome</p>
      </div>
      <tgt-divider></tgt-divider>
      <div class="aluno">
        <tgt-checkbox></tgt-checkbox>
        <img src="assets/images/avatar.png" alt="">
        <p>Nome e Sobrenome</p>
      </div>
      <tgt-divider></tgt-divider>
      <div class="aluno">
        <tgt-checkbox></tgt-checkbox>
        <img src="assets/images/avatar.png" alt="">
        <p>Nome e Sobrenome</p>
      </div>
      <tgt-divider></tgt-divider>
      <div class="aluno">
        <tgt-checkbox></tgt-checkbox>
        <img src="assets/images/avatar.png" alt="">
        <p>Nome e Sobrenome</p>
      </div>
      <tgt-divider></tgt-divider>
      <div class="aluno">
        <tgt-checkbox></tgt-checkbox>
        <img src="assets/images/avatar.png" alt="">
        <p>Nome e Sobrenome</p>
      </div>
      <tgt-divider></tgt-divider>
      <div class="aluno">
        <tgt-checkbox></tgt-checkbox>
        <img src="assets/images/avatar.png" alt="">
        <p>Nome e Sobrenome</p>
      </div>
      <tgt-divider></tgt-divider>
      <div class="aluno">
        <tgt-checkbox></tgt-checkbox>
        <img src="assets/images/avatar.png" alt="">
        <p>Nome e Sobrenome</p>
      </div>
      <tgt-divider></tgt-divider>
      <div class="aluno">
        <tgt-checkbox></tgt-checkbox>
        <img src="assets/images/avatar.png" alt="">
        <p>Nome e Sobrenome</p>
      </div>
      <tgt-divider></tgt-divider>
      <div class="aluno">
        <tgt-checkbox></tgt-checkbox>
        <img src="assets/images/avatar.png" alt="">
        <p>Nome e Sobrenome</p>
      </div>
      <tgt-divider></tgt-divider>

    </div>

    <div class="action">
      <tgt-button [border]="false" [color]="'primary'" [size]="'small'" [fieldButton]="'outline'" (click)="vincular()">Cancelar</tgt-button>
      <tgt-button [color]="'primary'" [fieldButton]="'field'" [icon]="'add'" (click)="vincular()">Vincular</tgt-button>
    </div>

  </main>
</tgt-modal>
