main {
  padding: 24px;
  background-color: #FDFEFE;
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  border-radius: 24px;

  .lista-alunos {

    height: 300px;
    overflow: auto;

    .aluno {
      padding: 24px 0px;
      display: flex;
      flex-direction: row;
      gap: 12px;
    }
  }

  .action {
    display: flex;
    flex-direction: row;
    gap: 12px;
    // justify-content: end;
    width: 100%;

    tgt-button {
      width: 50%;
    }
  }
}
