@import "../../../../../../assets/styles/space.scss";

main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    .header {
        display: flex;
        justify-content: end;
        .btn-add {
            width: 130px;
        }
    }

    .main {
        height: 50vh;
        overflow: auto;

        .content {
            height: 245px;
            display: flex;
            flex-direction: row;
            gap: 16px;

            .info {
                display: flex;
                flex-direction: row;

                .data-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    section {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }

}