@import "../../../../../../assets/styles/space.scss";
@import "../../../../../../assets/styles/colors";

main {
    display: flex;
    flex-direction: column;
    height: 67vh;
    overflow: auto;
    gap: 32px;
    width: 100%;

    .header {
        display: flex;
        justify-content: end;

        .btn-add {
            width: 130px;
        }
    }

    .main {
        overflow: auto;
        // padding: 0px 20px 0px 20px;

        .content {
            height: 245px;
            display: flex;
            flex-direction: row;
            gap: 16px;
            justify-content: space-between;


            .cartao {
              display: flex;
              flex-direction: row;
            }

            .info {
              display: flex;
              flex-direction: row;
              height: 217px;

              .data-info {
                  // background-color: antiquewhite;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    section {
                        display: flex;
                        flex-direction: column;
                    }

                    .detalhe {
                        width: 500px;
                        gap: 32px;
                    }
                }
            }
          .actions {
            display: flex;
            flex-direction: row;
            gap:16px;
            margin: 20px 20px 0px 0px;

            .btn {
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 50px;
              cursor: pointer;
              transition: all .5s;

              &:hover {
                background-color: $color-yellow;
              }
            }
          }
        }
    }

}

.label {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.value {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;

}
