<sidebar [title]="'Vincular Usuário'">
  <main>
    <div>
      <div class="header">
        <tgt-input-icon icon="search" iconPosition="right" placeholder="Busque aqui..."
          [control]="pesquisa"></tgt-input-icon>
      </div>

      <div class="users">
        @for (usuario of usuarios; track usuario) {
        <div class="checkbox">
          <div class="item">
            <tgt-checkbox></tgt-checkbox>
            <div class="user-info">
              <span>{{ usuario.nome }}</span>
              <h6 class="user-role">{{ usuario.role }}</h6>
            </div>
          </div>
          <div class="toggle">
            @if(usuario.role == 'MANAGER') {

              <h6>Aprovador</h6>
              <toggle [control]="controlToggle"></toggle>
            }
          </div>
        </div>
        <tgt-divider></tgt-divider>
        }
      </div>
    </div>

    <footer class="grid col-12">
      <tgt-button class="col-5" size="small" fieldButton="outline">Cancelar</tgt-button>
      <tgt-button class="col-5" size="small" icon="add" color="secundary">Vincular</tgt-button>
    </footer>
  </main>
</sidebar>
