<div class="main">
    <div class="input" [style.border-color]="control.value ? '#BAF0B6' : '#000'" [style.background]="backGround" [style.border]="border ? '' : 'none'">
        @if(iconPosition == 'left') {
            <span class="material-symbols-outlined color-icon">
                {{icon}}
            </span>
        }
        <input [type]="type" [placeholder]="placeholder" [formControl]="control" [mask]="mask">
        @if(iconPosition == 'right') {
            <span class="material-symbols-outlined color-icon">
                {{icon}}
            </span>
        }
    </div>
</div>
