<div class="main">
    <div class="input" [style.border-color]="formControl.value ? '#FDD22A' : '#000'">
        @if(iconPosition == 'left') {
            <span class="material-symbols-outlined color-icon">
                {{icon}}
            </span>
        }
        <input [type]="type" [placeholder]="placeholder" [formControl]="formControl" [mask]="mask">
        @if(iconPosition == 'right') {
            <span class="material-symbols-outlined color-icon">
                {{icon}}
            </span>
        }
    </div>
</div>
