<main>
  <div class="actions">
    @if(vizualizarInformacoesEmpresa) {
    <div class="edit">
      <tgt-button [icon]="'edit'" [color]="'secundary'" [size]="'small'" [iconPosition]="'left'" [fieldButton]="'field'"
        (click)="abrirFormEditar()" [disabled]="false" [border]="true" [type]="'button'">
        Editar
      </tgt-button>
    </div>
    }
    @if(vizualizarInformacoesEmpresa) {
    <div class="form">
      <tgt-input-view [label]="'CNPJ'" [value]="'12.345.678/00001-00'"></tgt-input-view>
      <tgt-input-view [label]="'Razão Social'" [value]="'TOGOTRIP 12.345.678/0001-00'"></tgt-input-view>
      <tgt-input-view [label]="'Nome Fantasia'" [value]="'Togo Trip'"></tgt-input-view>
      <tgt-input-view [label]="'Inscrição Estadual'" [value]="'123456'"></tgt-input-view>
    </div>
    }

    @if(mostrarFormEdit) {
    <div class="form">
      <tgt-input [label]="'CNPJ'"></tgt-input>
      <tgt-input [label]="'Razão Social'"></tgt-input>
      <tgt-input [label]="'Nome Fantasia'"></tgt-input>
      <tgt-input [label]="'Inscrição Estadual'"></tgt-input>
    </div>
    }

    @if(footerActions) {
    <div class="edit">
      <tgt-button [color]="'primary'" [size]="'small'" [iconPosition]="'left'" [fieldButton]="'outline'"
        (click)="cancelarEditar()" [disabled]="false" [border]="false" [type]="'button'">
        Cancelar
      </tgt-button>
      <tgt-button [color]="'secundary'" [size]="'small'" [iconPosition]="'left'" [fieldButton]="'field'"
        (click)="atualizar()" [disabled]="false" [border]="true" [type]="'button'">
        Salvar
      </tgt-button>
    </div>
    }




  </div>
</main>
