<main>
    <div class="circle">
        <div class="conteudo">
            <img src="assets/images/logo_dark.svg" width="150px">
            <span class="material-symbols-outlined title-mob back" [routerLink]="['/login']">
                arrow_back
            </span>
            <h1 class="title-mob">Vamos começar!</h1>
            <div class="title-text-desk">
                <h1><span>Hey,</span> Bem vindo!</h1>
                <div class="text">
                    <p>Faça reservas e simplifique o gerenciamento de suas viagens corporativas com a To Go Trip!
                        Desfrute das melhores tarifas, mantenha o controle das despesas e assegure o conforto de seus
                        colaboradores.</p>
                    <p>Economize tempo e dinheiro.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="content">
        @if(!isFeedback) {
        <form class="form">
            <h1 class="title-desk">Vamos começar!</h1>
            <h2>Registre-se</h2>
            <tgt-input-icon [type]="'text'" icon="apartment" placeholder="CNPJ"
                mask="00.000.000/0000-00"></tgt-input-icon>
            <tgt-input-icon [type]="'text'" icon="person" placeholder="Nome completo"></tgt-input-icon>
            <tgt-input-icon [type]="'email'" icon="email" placeholder="E-mail corporativo"></tgt-input-icon>

            <tgt-button [color]="'primary'" [icon]="'login'" [iconPosition]="'right'"
                (click)="showFeedback()">Cadastrar</tgt-button>
        </form>

        } @else {
        <feedback-init-register></feedback-init-register>
        }

        <div class="create">
            <span>Já possui uma conta? <a [routerLink]="['/login']">Login</a></span>
        </div>
    </div>

</main>