.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F4F3;
    border-radius: 16px;
    padding: 16px 24px;
    margin-bottom: 16px;
}