$color-black: #181D17;
$color-primary: #00E554;
$color-off-white: #F3F4F3;
$color-white: #FFFFFF;
$color-brand-white: #F7FBF2;
$color-gray-scale-60: #6A6A66;
$color-aprovar: #00CA2C;
$color-delete: #EE0D43
