<!-- <main>
  <div class="info">
    <h3>Notificações de E-mail</h3>
    <h5>As configurações de notificações padrão se aplicam ao seu perfil, mas podem ser substituídos por suas
      preferencias de notificações.</h5>

    <div class="toggles">
      <toggle></toggle>
      <p> Atualizações de Viagens</p>
    </div>
    <div class="toggles">
      <toggle></toggle>
      <p> Atualizações de Reservas</p>
    </div>
    <div class="toggles">
      <toggle></toggle>
      <p> Atualizações de Soliciações</p>
    </div>
    <div class="toggles">
      <toggle></toggle>
      <p> Atualizações de Equipe</p>
    </div>
    <div class="toggles">
      <toggle></toggle>
      <p> Atualizações de Central de Custos</p>
    </div>
  </div>
</main> -->
<main>
  <div class="actions">
    <h3>Notificações de E-mail</h3>
    <h5>As configurações de notificações padrão se aplicam ao seu perfil, mas podem ser substituídos por suas
      preferencias de notificações.</h5>

    <div class="toggles">
      <toggle></toggle>
      <p> Atualizações de Viagens</p>
    </div>
    <div class="toggles">
      <toggle></toggle>
      <p> Atualizações de Reservas</p>
    </div>
    <div class="toggles">
      <toggle></toggle>
      <p> Atualizações de Soliciações</p>
    </div>
    <div class="toggles">
      <toggle></toggle>
      <p> Atualizações de Equipe</p>
    </div>
    <div class="toggles">
      <toggle></toggle>
      <p> Atualizações de Central de Custos</p>
    </div>




  </div>
</main>

