<main>
  <div class="usuario grid">
    <div class="foto col-1"><img src="assets/images/3d_avatar_21.png" alt="" srcset="" width="24" height="24"></div>
    <div class="text col-8">
      <span class="name">Jonathan Lauro</span>
      <span class="detail">{{' solicitou aprovação de viagem'}}</span>
    </div>
    <div class="data col-3">{{'6 dias atrás'}}</div>
  </div>
  <div class="content">
    <div class="container">

      <div class="header">
        <h6>Informações da viagem</h6>
        <h5 class="label" (click)="abrirMaisInformacoes()">
          @if(mostrarMais) {
            - Ver menos
          } @else {
            + Ver mais
          }
        </h5>
      </div>

      <div class="body">
        <h5>Detalhes do passageiro</h5>
        <div class="line-body">
          <h5>Nome</h5>
          <h5>Guilherme Gomes Nunes</h5>
        </div>
      </div>

      @if(mostrarMais) {
      <tgt-divider></tgt-divider>
      <div class="body-more">
        <h5>Itinerário de voo</h5>
        <div class="line-body-details">
          <div class="label">
            <span class="material-symbols-outlined">
              airplane_ticket
            </span>
            <h5>Ida</h5>
          </div>
          <h5>1 Parada</h5>
        </div>

        <div class="body-more-details">
          <p>Data / Hora</p>
          <p>15/04/2024 21:15</p>
        </div>

        <div class="body-more-details">
          <p>Origem</p>
          <p>GRU - São Paulo</p>
        </div>

        <div class="body-more-details">
          <p>Destino</p>
          <p>JFK - Nova York</p>
        </div>

        <div class="body-more-details">
          <p>Tempo de viagem</p>
          <p>09h50m</p>
        </div>

        <div class="trocaAviao">
          <p>Troca de avião em Nova York (JFK) 45m</p>
        </div>

        <div class="body-more-details">
          <p>Data / Hora</p>
          <p>15/04/2024 21:15</p>
        </div>

        <div class="body-more-details">
          <p>Origem</p>
          <p>JFK - Nova York</p>
        </div>

        <div class="body-more-details">
          <p>Destino</p>
          <p>GRU - São Paulo</p>
        </div>

        <div class="body-more-details">
          <p>Tempo de viagem</p>
          <p>09h50m</p>
        </div>

        <div class="line-body-details">
          <div class="label">
            <span class="material-symbols-outlined icon">
              airplane_ticket
            </span>
            <h5>Volta</h5>
          </div>
          <h5>Direto</h5>
        </div>

        <div class="body-more-details">
          <p>Data / Hora</p>
          <p>17/04/2024 21:15</p>
        </div>

        <div class="body-more-details">
          <p>Origem</p>
          <p>JFK - Nova York</p>
        </div>

        <div class="body-more-details">
          <p>Destino</p>
          <p>GRU - São Paulo</p>
        </div>

        <div class="body-more-details">
          <p>Tempo de viagem</p>
          <p>09h50m</p>
        </div>


      </div>
      }
      <tgt-divider></tgt-divider>
      <div class="footer">
        <h5>Valor</h5>
        <h4 class="label">R$3.000,00</h4>
      </div>
    </div>
  </div>
  <!-- <div class="usuario grid">
        <div class="foto col-1"><img src="assets/images/3d_avatar_21.png" alt="" srcset="" width="24" height="24"></div>
        <div class="text col-8">
            <span class="name">Andrey Kopetski</span>
            <span class="detail">{{'aprovou solicitou aprovação'}}</span>
        </div>
        <div class="data col-3">{{'5 dias atrás'}}</div>
    </div>
    <div class="content">
        <div class="container">
            <tgt-status-circle></tgt-status-circle>Aprovada
        </div>
    </div>
    <div class="usuario grid">
        <div class="foto col-1"><img src="assets/images/3d_avatar_21.png" alt="" srcset="" width="24" height="24"></div>
        <div class="text col-8">
            <span class="name">Guilherme Nunes</span>
            <span class="detail">{{'realizou viagem de ida'}}</span>
        </div>
        <div class="data col-3">{{'3 dias atrás'}}</div>
    </div>
    <div class="content">
        <div class="container">

        </div>
    </div>
    <div class="usuario grid">
        <div class="foto col-1"><img src="assets/images/3d_avatar_21.png" alt="" srcset="" width="24" height="24"></div>
        <div class="text col-8">
            <span class="name">Guilherme Nunes</span>
            <span class="detail">{{'realizou viagem de volta'}}</span>
        </div>
        <div class="data col-3">{{'2 dias atrás'}}</div>
    </div>
    <div class="content">
        <div class="container">

        </div>
    </div> -->
</main>
