<main>
    <div class="cartao">
        <div class="content">
            <div class="header-content">
                <img src="assets/images/cards/chip.png" width="36" height="29" alt="">
                <img src="assets/images/cards/mastercard.png" width="40" height="24" alt="">
            </div>
            <div class="body-content">
                <div class="card-number">
                    {{cartao.cardNumber | cardNumber}}
                </div>
                <div class="dados">
                    <div class="name">{{ cartao.cardName}}</div>
                    <div class="mes">{{cartao.cardMouth | mouthCard}}</div>
                </div>
            </div>
        </div>
    </div>
</main>
