main {
    width: 378px;
    height: 233px;
    display: flex;
    justify-content: center;
    align-items: center;

    .cartao {
        // width: 362px;
        // height: 217px;
        border-radius: 24px;
        background-color: #FFD200;
        box-shadow: 4px 4px 16px 0px #00000026;
        transition: all .5s;
    
        .content {
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 32px;
    
            .header-content {
                width: 282px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
    
            .body-content {
                width: 282px;
                display: flex;
                flex-direction: column;
                gap: 32px;
    
                .card-number {
                    font-family: Montserrat;
                    font-size: 21px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    text-align: left;
    
                }
    
                .dados {
                    display: flex;
                    flex-direction: row;
                    gap: 16px;
    
                    .name, .mes {
                        font-family: Montserrat;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: 0.5px;
                        text-align: left;
    
                    }
                }
            }
        }
    
        &:hover {
            margin-top: -1rem;
            margin-left: 1rem;
        }
    }
}
