main {
  padding: 24px;

  .filtroInput {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    tgt-input-icon {
      width: 30%;
    }

  }

  .header {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #CDCDCC;
  }

  .header-chips {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 24px 0px;
  }
}
